<div class="right-section">
  <ul>
    <li><a (click)="onNavigationChange('basic')" [ngClass]="{'active' : type == 'basic'}">Table Basic</a></li>
    <li><a (click)="onNavigationChange('noBordered')" [ngClass]="{'active' : type == 'noBordered'}">Table borderless</a></li>
    <li><a (click)="onNavigationChange('bordered')" [ngClass]="{'active' : type == 'bordered'}">Table Bordered</a></li>
    <li><a (click)="onNavigationChange('thead')" [ngClass]="{'active' : type == 'thead'}">Table with thead</a></li>
    <li><a (click)="onNavigationChange('striped')" [ngClass]="{'active' : type == 'striped'}">Table Striped</a></li>
    <li><a (click)="onNavigationChange('stripedBorder')" [ngClass]="{'active' : type == 'stripedBorder'}">Table striped with border</a></li>
    <li><a (click)="onNavigationChange('center')" [ngClass]="{'active' : type == 'center'}">Table center</a></li>
    <li><a (click)="onNavigationChange('hover')" [ngClass]="{'active' : type == 'hover'}">Hoverable row</a></li>
  </ul>
</div>

<div class="left-section">
  <div *ngIf="type == 'basic'">
    <p>Basic Table</p>
    <br>

    <table class="table">
      <thead>
      <th width="10%">Id</th>
      <th width="20%">Username</th>
      <th width="25%">Email</th>
      <th width="15%">Country</th>
      <th width="15%">Status</th>
      <th width="15%">Action</th>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>Shah</td>
        <td>shahvishal@yahoo.co.in</td>
        <td>India</td>
        <td>
          <span class="green-color">Approved</span>
        </td>
        <td>
          <a data-toggle="tooltip" tooltip="Edit">
            <i class="fa fa-edit"></i>
          </a>
          <a data-toggle="tooltip" tooltip="Delete">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>Shah</td>
        <td>shahvishal@yahoo.co.in</td>
        <td>India</td>
        <td>
          <span class="red-color">Rejected</span>
        </td>
        <td>
          <a data-toggle="tooltip" tooltip="Edit">
            <i class="fa fa-edit"></i>
          </a>
          <a data-toggle="tooltip" tooltip="Delete">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>3</td>
        <td>Shah</td>
        <td>shahvishal@yahoo.co.in</td>
        <td>India</td>
        <td>
          <span class="grey-color">Pending</span>
        </td>
        <td>
          <a data-toggle="tooltip" tooltip="Edit">
            <i class="fa fa-edit"></i>
          </a>
          <a data-toggle="tooltip" tooltip="Delete">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="code-section">
      <a (click)="onCopySingle(basicTable)" class="copy">Copy</a>
      <pre>
        <code>
          {{basicTable}}
        </code>
      </pre>
    </div>
  </div>

  <div *ngIf="type == 'noBordered'">
    <p>Table without border</p>
    <br>

    <table class="table table-no-bordered">
      <thead>
      <th width="10%">Id</th>
      <th width="20%">Username</th>
      <th width="25%">Email</th>
      <th width="15%">Country</th>
      <th width="15%">Status</th>
      <th width="15%">Action</th>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>Shah</td>
        <td>shahvishal@yahoo.co.in</td>
        <td>India</td>
        <td>
          <span class="green-color">Approved</span>
        </td>
        <td>
          <a data-toggle="tooltip" tooltip="Edit">
            <i class="fa fa-edit"></i>
          </a>
          <a data-toggle="tooltip" tooltip="Delete">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>Shah</td>
        <td>shahvishal@yahoo.co.in</td>
        <td>India</td>
        <td>
          <span class="red-color">Rejected</span>
        </td>
        <td>
          <a data-toggle="tooltip" tooltip="Edit">
            <i class="fa fa-edit"></i>
          </a>
          <a data-toggle="tooltip" tooltip="Delete">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>3</td>
        <td>Shah</td>
        <td>shahvishal@yahoo.co.in</td>
        <td>India</td>
        <td>
          <span class="grey-color">Pending</span>
        </td>
        <td>
          <a data-toggle="tooltip" tooltip="Edit">
            <i class="fa fa-edit"></i>
          </a>
          <a data-toggle="tooltip" tooltip="Delete">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="code-section">
      <a (click)="onCopySingle(noBorderedTable)" class="copy">Copy</a>
      <pre>
        <code>
          {{noBorderedTable}}
        </code>
      </pre>
    </div>
  </div>

  <div *ngIf="type == 'bordered'">
    <p>Border Table</p>
    <br>

    <table class="table table-bordered">
      <thead>
      <th width="10%">Id</th>
      <th width="20%">Username</th>
      <th width="25%">Email</th>
      <th width="15%">Country</th>
      <th width="15%">Status</th>
      <th width="15%">Action</th>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>Shah</td>
        <td>shahvishal@yahoo.co.in</td>
        <td>India</td>
        <td>
          <span class="green-color">Approved</span>
        </td>
        <td>
          <a data-toggle="tooltip" tooltip="Edit">
            <i class="fa fa-edit"></i>
          </a>
          <a data-toggle="tooltip" tooltip="Delete">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>Shah</td>
        <td>shahvishal@yahoo.co.in</td>
        <td>India</td>
        <td>
          <span class="red-color">Rejected</span>
        </td>
        <td>
          <a data-toggle="tooltip" tooltip="Edit">
            <i class="fa fa-edit"></i>
          </a>
          <a data-toggle="tooltip" tooltip="Delete">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>3</td>
        <td>Shah</td>
        <td>shahvishal@yahoo.co.in</td>
        <td>India</td>
        <td>
          <span class="grey-color">Pending</span>
        </td>
        <td>
          <a data-toggle="tooltip" tooltip="Edit">
            <i class="fa fa-edit"></i>
          </a>
          <a data-toggle="tooltip" tooltip="Delete">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="code-section">
      <a (click)="onCopySingle(borderedTable)" class="copy">Copy</a>
      <pre>
        <code>
          {{borderedTable}}
        </code>
      </pre>
    </div>
  </div>

  <div *ngIf="type == 'thead'">
    <p>Thead options Table</p>
    <br>

    <table class="table table-thead">
      <thead>
      <th width="10%">Id</th>
      <th width="20%">Username</th>
      <th width="25%">Email</th>
      <th width="15%">Country</th>
      <th width="15%">Status</th>
      <th width="15%">Action</th>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>Shah</td>
        <td>shahvishal@yahoo.co.in</td>
        <td>India</td>
        <td>
          <span class="green-color">Approved</span>
        </td>
        <td>
          <a data-toggle="tooltip" tooltip="Edit">
            <i class="fa fa-edit"></i>
          </a>
          <a data-toggle="tooltip" tooltip="Delete">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>Shah</td>
        <td>shahvishal@yahoo.co.in</td>
        <td>India</td>
        <td>
          <span class="red-color">Rejected</span>
        </td>
        <td>
          <a data-toggle="tooltip" tooltip="Edit">
            <i class="fa fa-edit"></i>
          </a>
          <a data-toggle="tooltip" tooltip="Delete">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>3</td>
        <td>Shah</td>
        <td>shahvishal@yahoo.co.in</td>
        <td>India</td>
        <td>
          <span class="grey-color">Pending</span>
        </td>
        <td>
          <a data-toggle="tooltip" tooltip="Edit">
            <i class="fa fa-edit"></i>
          </a>
          <a data-toggle="tooltip" tooltip="Delete">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="code-section">
      <a (click)="onCopySingle(theadTable)" class="copy">Copy</a>
      <pre>
        <code>
          {{theadTable}}
        </code>
      </pre>
    </div>
  </div>

  <div *ngIf="type == 'striped'">
    <p>Striped Table</p>
    <br>

    <table class="table table-striped">
      <thead>
      <th width="10%">Id</th>
      <th width="20%">Username</th>
      <th width="25%">Email</th>
      <th width="15%">Country</th>
      <th width="15%">Status</th>
      <th width="15%">Action</th>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>Shah</td>
        <td>shahvishal@yahoo.co.in</td>
        <td>India</td>
        <td>
          <span class="green-color">Approved</span>
        </td>
        <td>
          <a data-toggle="tooltip" tooltip="Edit">
            <i class="fa fa-edit"></i>
          </a>
          <a data-toggle="tooltip" tooltip="Delete">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>Shah</td>
        <td>shahvishal@yahoo.co.in</td>
        <td>India</td>
        <td>
          <span class="red-color">Rejected</span>
        </td>
        <td>
          <a data-toggle="tooltip" tooltip="Edit">
            <i class="fa fa-edit"></i>
          </a>
          <a data-toggle="tooltip" tooltip="Delete">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>3</td>
        <td>Shah</td>
        <td>shahvishal@yahoo.co.in</td>
        <td>India</td>
        <td>
          <span class="grey-color">Pending</span>
        </td>
        <td>
          <a data-toggle="tooltip" tooltip="Edit">
            <i class="fa fa-edit"></i>
          </a>
          <a data-toggle="tooltip" tooltip="Delete">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="code-section">
      <a (click)="onCopySingle(stripedTable)" class="copy">Copy</a>
      <pre>
        <code>
          {{stripedTable}}
        </code>
      </pre>
    </div>
  </div>

  <div *ngIf="type == 'stripedBorder'">
    <p>Striped Border Table</p>
    <br>

    <table class="table table-striped table-striped-border">
      <thead>
      <th width="10%">Id</th>
      <th width="20%">Username</th>
      <th width="25%">Email</th>
      <th width="15%">Country</th>
      <th width="15%">Status</th>
      <th width="15%">Action</th>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>Shah</td>
        <td>shahvishal@yahoo.co.in</td>
        <td>India</td>
        <td>
          <span class="green-color">Approved</span>
        </td>
        <td>
          <a data-toggle="tooltip" tooltip="Edit">
            <i class="fa fa-edit"></i>
          </a>
          <a data-toggle="tooltip" tooltip="Delete">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>Shah</td>
        <td>shahvishal@yahoo.co.in</td>
        <td>India</td>
        <td>
          <span class="red-color">Rejected</span>
        </td>
        <td>
          <a data-toggle="tooltip" tooltip="Edit">
            <i class="fa fa-edit"></i>
          </a>
          <a data-toggle="tooltip" tooltip="Delete">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>3</td>
        <td>Shah</td>
        <td>shahvishal@yahoo.co.in</td>
        <td>India</td>
        <td>
          <span class="grey-color">Pending</span>
        </td>
        <td>
          <a data-toggle="tooltip" tooltip="Edit">
            <i class="fa fa-edit"></i>
          </a>
          <a data-toggle="tooltip" tooltip="Delete">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="code-section">
      <a (click)="onCopySingle(stripedBorderTable)" class="copy">Copy</a>
      <pre>
        <code>
          {{stripedBorderTable}}
        </code>
      </pre>
    </div>
  </div>

  <div *ngIf="type == 'center'">
    <p>Table center</p>
    <br>

    <table class="table table-center">
      <thead>
      <th width="10%">Id</th>
      <th width="20%">Username</th>
      <th width="25%">Email</th>
      <th width="15%">Country</th>
      <th width="15%">Status</th>
      <th width="15%">Action</th>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>Shah</td>
        <td>shahvishal@yahoo.co.in</td>
        <td>India</td>
        <td>
          <span class="green-color">Approved</span>
        </td>
        <td>
          <a data-toggle="tooltip" tooltip="Edit">
            <i class="fa fa-edit"></i>
          </a>
          <a data-toggle="tooltip" tooltip="Delete">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>Shah</td>
        <td>shahvishal@yahoo.co.in</td>
        <td>India</td>
        <td>
          <span class="red-color">Rejected</span>
        </td>
        <td>
          <a data-toggle="tooltip" tooltip="Edit">
            <i class="fa fa-edit"></i>
          </a>
          <a data-toggle="tooltip" tooltip="Delete">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>3</td>
        <td>Shah</td>
        <td>shahvishal@yahoo.co.in</td>
        <td>India</td>
        <td>
          <span class="grey-color">Pending</span>
        </td>
        <td>
          <a data-toggle="tooltip" tooltip="Edit">
            <i class="fa fa-edit"></i>
          </a>
          <a data-toggle="tooltip" tooltip="Delete">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="code-section">
      <a (click)="onCopySingle(centerTable)" class="copy">Copy</a>
      <pre>
        <code>
          {{centerTable}}
        </code>
      </pre>
    </div>
  </div>

  <div *ngIf="type == 'hover'">
    <p>Hoverable row</p>
    <br>

    <table class="table table-hover">
      <thead>
      <th width="10%">Id</th>
      <th width="20%">Username</th>
      <th width="25%">Email</th>
      <th width="15%">Country</th>
      <th width="15%">Status</th>
      <th width="15%">Action</th>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>Shah</td>
        <td>shahvishal@yahoo.co.in</td>
        <td>India</td>
        <td>
          <span class="green-color">Approved</span>
        </td>
        <td>
          <a data-toggle="tooltip" tooltip="Edit">
            <i class="fa fa-edit"></i>
          </a>
          <a data-toggle="tooltip" tooltip="Delete">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>Shah</td>
        <td>shahvishal@yahoo.co.in</td>
        <td>India</td>
        <td>
          <span class="red-color">Rejected</span>
        </td>
        <td>
          <a data-toggle="tooltip" tooltip="Edit">
            <i class="fa fa-edit"></i>
          </a>
          <a data-toggle="tooltip" tooltip="Delete">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>3</td>
        <td>Shah</td>
        <td>shahvishal@yahoo.co.in</td>
        <td>India</td>
        <td>
          <span class="grey-color">Pending</span>
        </td>
        <td>
          <a data-toggle="tooltip" tooltip="Edit">
            <i class="fa fa-edit"></i>
          </a>
          <a data-toggle="tooltip" tooltip="Delete">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="code-section">
      <a (click)="onCopySingle(hoverTable)" class="copy">Copy</a>
      <pre>
        <code>
          {{hoverTable}}
        </code>
      </pre>
    </div>
  </div>
</div>

<div *ngIf="isCopied" class="copied-toast">
  <p>Code Copied!!!</p>
</div>
