<div class="right-section">
  <ul>
    <li>
      <a class="active">Basic radio</a>
    </li>
  </ul>
</div>

<div class="left-section">
  <p>Basic radio</p>
  <br>

  <ul class="radio-group">
    <li>
      <input type="radio" id="mobile" name="type" checked>
      <label for="mobile">
        Mobile
        <span></span>
      </label>
    </li>
    <li>
      <input type="radio" id="email" name="type">
      <label for="email">Email
        <span></span>
      </label>
    </li>
  </ul>

  <div class="code-section">
    <a (click)="onCopySingle(radioButtonCode)" class="copy">Copy</a>
    <pre>
        <code>
          {{radioButtonCode}}
        </code>
      </pre>
  </div>
</div>

<div *ngIf="isCopied" class="copied-toast">
  <p>Code Copied!!!</p>
</div>
