<div class="right-section">
  <ul>
    <li>
      <a class="active">Basic checkbox</a>
    </li>
  </ul>
</div>

<div class="left-section">
  <p>Basic checkbox</p>
  <br>

  <div class="checkbox-group">
    <input type="checkbox" id="agree" name="termsPrivacy"/>
    <label for="agree">I agree to the terms
      <span></span>
    </label>
  </div>

  <div class="code-section">
    <a (click)="onCopySingle(checkboxCode)" class="copy">Copy</a>
    <pre>
        <code>
          {{checkboxCode}}
        </code>
      </pre>
  </div>
</div>

<div *ngIf="isCopied" class="copied-toast">
  <p>Code Copied!!!</p>
</div>
