<div class="right-section">
  <ul>
    <li>
      <a (click)="onNavigationChange('basic')" [ngClass]="{'active' : type == 'basic'}">Basic with label</a>
    </li>
    <li>
      <a (click)="onNavigationChange('basicNoLabel')" [ngClass]="{'active' : type == 'basicNoLabel'}">Basic without
        label</a>
    </li>
    <li>
      <a (click)="onNavigationChange('smallSizes')" [ngClass]="{'active' : type == 'smallSizes'}">Small input sizes</a>
    </li>
    <li>
      <a (click)="onNavigationChange('largeSizes')" [ngClass]="{'active' : type == 'largeSizes'}">Large input sizes</a>
    </li>
    <li>
      <a (click)="onNavigationChange('iconPrefixes')" [ngClass]="{'active' : type == 'iconPrefixes'}">Icon Prefixes</a>
    </li>
    <li>
      <a (click)="onNavigationChange('required')" [ngClass]="{'active' : type == 'required'}">Required label with
        input</a>
    </li>
    <li>
      <a (click)="onNavigationChange('horizontal')" [ngClass]="{'active' : type == 'horizontal'}">Horizontal label</a>
    </li>
  </ul>
</div>

<div class="left-section">

  <div *ngIf="type == 'basic'">
    <p>Basic input with label</p>
    <br>

    <div *ngFor="let inputs of inputsArray;">
<div class="{{getClass(inputs)}}">
  <input type="text" placeholder="Enter your email"/>
  <label>Email</label>
</div>
      <div class="code-section">
        <a (click)="onCopy(inputs.className)" class="copy">Copy</a>
        <div [innerHTML]="getHtmlCode(inputs.className) | language : 'html' | markdown"></div>
      </div>
    </div>
  </div>

  <div *ngIf="type == 'basicNoLabel'">
    <p>Basic input without label</p>
    <br>

    <div *ngFor="let inputs of inputsArray;">
<div class="{{getClass(inputs)}} no-label">
  <input type="text" placeholder="Enter your email"/>
</div>
      <div class="code-section">
        <a (click)="onCopy(inputs.className)" class="copy">Copy</a>
        <div [innerHTML]="getHtmlCode(inputs.className) | language : 'html' | markdown"></div>
      </div>
    </div>
  </div>

  <div *ngIf="type == 'smallSizes'">
    <p>Small input sizes</p>
    <br>

    <div *ngFor="let inputs of inputsArray;">
<div class="{{getClass(inputs)}} basic-input-sm">
  <input type="text" placeholder="Enter your email"/>
  <label>Email</label>
</div>
      <div class="code-section">
        <a (click)="onCopy(inputs.className)" class="copy">Copy</a>
        <div [innerHTML]="getHtmlCode(inputs.className) | language : 'html' | markdown"></div>
      </div>
    </div>
  </div>

  <div *ngIf="type == 'largeSizes'">
    <p>Large input sizes</p>
    <br>

    <div *ngFor="let inputs of inputsArray;">
<div class="{{getClass(inputs)}} basic-input-lg">
  <input type="text" placeholder="Enter your email"/>
  <label>Email</label>
</div>
      <div class="code-section">
        <a (click)="onCopy(inputs.className)" class="copy">Copy</a>
        <div [innerHTML]="getHtmlCode(inputs.className) | language : 'html' | markdown"></div>
      </div>
    </div>
  </div>

  <div *ngIf="type == 'iconPrefixes'">
    <p>Icon prefixes</p>
    <br>

    <div *ngFor="let inputs of inputsArray;">
<div class="{{getClass(inputs)}} icons-group">
  <i class="fa fa-envelope"></i>
  <input type="text" placeholder="Enter your email"/>
  <label>Email</label>
</div>
      <div class="code-section">
        <a (click)="onCopy(inputs.className)" class="copy">Copy</a>
        <div [innerHTML]="getHtmlCode(inputs.className) | language : 'html' | markdown"></div>
      </div>
    </div>
  </div>

  <div *ngIf="type == 'required'">
    <p>Required label with input</p>
    <br>

    <div *ngFor="let inputs of inputsArray;">
<div class="{{getClass(inputs)}}">
  <input type="text" placeholder="Enter your email"/>
  <label class="required">Email</label>
</div>
      <div class="code-section">
        <a (click)="onCopy(inputs.className)" class="copy">Copy</a>
        <div [innerHTML]="getHtmlCode(inputs.className) | language : 'html' | markdown"></div>
      </div>
    </div>
  </div>

  <div *ngIf="type == 'horizontal'">
    <p>Horizontal input with label</p>
    <br>

    <div *ngFor="let inputs of inputsArray;">
<div class="{{getClass(inputs)}} horizontal-group">
  <label>Email</label>
  <input type="text" placeholder="Enter your email"/>
</div>
      <div class="code-section">
        <a (click)="onCopy(inputs.className)" class="copy">Copy</a>
        <div [innerHTML]="getHtmlCode(inputs.className) | language : 'html' | markdown"></div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isCopied" class="copied-toast">
  <p>Code Copied!!!</p>
</div>
