/*admin*/
.admin-body {
  position: relative;
  margin: 1rem 3rem 0 16.5rem;
  width: calc(100% - 18rem);
  @include clearfix;
}

.user-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: #ffffff;
  height: 4rem;
  z-index: 2;
  box-shadow: 0 0 10px hsla(0, 0%, 39%, .2);
  li {
    a {
      line-height: 6rem;
      display: block;
      text-decoration: none;
      @include transition;
      &:hover {
        color: #002157;
      }
    }
    a.active {
      color: #002157;
    }
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__title {
    h2 {
      font: {
        weight: normal;
        size: 1.6rem;
      }
      line-height: 4rem;
      color: #002157;
      padding-left: 2rem;
    }
  }
}

.sidepanel {
  position: fixed;
  width: 15rem;
  top: 0;
  display: block;
  height: 100%;
  background: #60ad94;
  z-index: 1;
  overflow-x: hidden;
  overflow-y: auto;

  li {
    display: block;
    float: left;
    width: 100%;
    a {
      padding: .5rem 2rem;
      width: 100%;
      display: block;
      float: left;
      position: relative;
      text-decoration: none;
      color: #ffffff !important;
      &:hover {
      }
      &.active {
        background: #40866f;
      }
      &.sidepanel__open {
        .sidepanel__down {
          transform: rotate(180deg);
        }
      }
    }

    ul {
      li {
        background: #5c9e89;
        a {
          padding: .5rem .5rem .5rem 3.5rem;
          font-size: 1.4rem;
        }
      }
    }
  }

  &__down {
    position: absolute;
    right: 1rem;
    top: 1.2rem;
    font-size: 1rem !important;
    color: $white-color;
    @include transition;
  }
}

pre[class*="language-"] {
  background: #eaeaea !important;
  box-shadow: 0 0 3px #b9b9b9 !important;
  margin: .3rem !important;
  border-radius: 0 !important;
}

.code-section {
  display: block;
  position: relative;
  max-height: 25rem;
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: .5rem;
  margin-bottom: 3rem;

  .copy {
    position: absolute;
    right: 1rem;
    top: .5rem;
    color: #848484;
    &:hover {
      color: #60ad94;
    }
  }
}

.left-section {
  width: 85%;
  float: left;
}

.right-section {
  width: 15%;
  float: left;
  li {
    display: block;
    margin-bottom: .6rem;
    a.active {
      color: #60ad94;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        background: #60ad94;
        width: .2rem;
        height: 1.5rem;
        top: .2rem;
        left: -.6rem;
      }
    }
  }
}

.copied-toast {
  position: fixed;
  width: 20rem;
  top: 2rem;
  right: 2rem;
  background: rgba(0, 0, 0, 0.8);
  height: 5rem;
  z-index: 5;
  text-align: center;
  color: $white-color;
  font-size: 1.6rem;
  line-height: 5rem;
  @include border-radius(.2rem);
  p {
    font-weight: 500;
  }
}

.code-lang-type {
  font-weight: 600;
}

.header {
  position: relative;
}

.sidebar--hover {
  position: fixed !important;
  top: 0 !important;
  z-index: 1;
  height: 100%;
}

.sidebar {
  position: relative;
  top: 0;
  //z-index: 1;
}

.border, .additive-border div {
  height: 5rem;
  width: 5rem;
  background: #eaeaea;
}

.footer {
  //z-index: 1;
  position: relative;
}

.login-box {
  position: relative;
  top: 0;
  left: 0;
  transform: none;
}
