<div class="basic-input">
  <input type="file" hidden id="file" (change)="onFileGetName($event)">
  <input type="text" placeholder="Select file" readonly (click)="onFileSelect('file')" value="{{fileName}}"/>
  <label>Passport</label>
  <i class="fa fa-paperclip"></i>
</div>
