<div class="basic-input no-label file-selection-left">
  <button (click)="onFileSelect('file')" class="btn btn-primary">Choose file</button>
  <div>
    <input type="file" hidden id="file" (change)="onFileGetName($event)">
    <input type="text" placeholder="Passport" readonly value="{{fileName}}"/>
  </div>
</div>
