<a class="picture-upload">
  <input type="file" hidden id="profilePic"/>
  <img src="assets/images/profile.jpg"/>

  <div (click)="onFileSelect('profilePic')" class="picture-upload__hover">
    <i class="fa fa-camera"></i>
  </div>
</a>
