/*For clearfix*/
@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

/*basic transition*/
@mixin transition {
  -webkit-transition: 0.2s all ease-in;
  -moz-transition: 0.2s all ease-in;
  -o-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
}

/*For border radius*/
@mixin border-radius($border-radius) {
  -webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  border-radius: $border-radius;
}

/*position*/
@mixin position-values($position, $top, $left, $height, $width, $backgrond: "") {
  position: $position;
  top: $top;
  left: $left;
  height: $height;
  width: $width;
  background: $backgrond;
}

/*buttons*/
@mixin outline-buttons($color) {
  background: transparent;
  color: $color;
  border: .2rem solid $color;
  padding: .8rem 3rem;
}

/*borders*/
@mixin border($color) {
  border: .1rem solid $color;
}

/*border bottom*/
@mixin border-bottom($color) {
  border-bottom: .1rem solid $color;
}

/*before icons*/
@mixin before-icons {
  color: $dark-grey-color-1;

  position: absolute;
  content: icon('DROP');
  font: {
    family: 'FontAwesome';
    size: 1.4rem;
  }
}

/*file selection image  change*/
@mixin height-width($height, $width) {
  height: $height;
  width: $width;
}

/*image rounded*/
@mixin image-rounded {
  @include border-radius(50%);
}

/*box shadow*/
@mixin box-shadow {
  box-shadow: 0 0 10.7px 0.8px rgba(0, 0, 0, .08);
}

/*box shadow none*/
@mixin box-shadow-none {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/*placeholder*/
@mixin placeholder-color($color) {
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $color !important;
  }
  input::-moz-placeholder, textarea::-moz-placeholder { /* Firefox 19+ */
    color: $color !important;
  }
  input:-ms-input-placeholder, textarea:-ms-input-placeholder { /* IE 10+ */
    color: $color !important;
  }
  input:-moz-placeholder, textarea:-moz-placeholder { /* Firefox 18- */
    color: $color !important;
  }
  input::placeholder, textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $color !important;
    opacity: 1; /* Firefox */
  }
}

/*form field focus*/
@mixin focus($color) {
  &:focus {
    border-color: $color;

    & + label {
      color: $color;

      &::before {
        color: $color;
      }
    }
  }
}

/*color login box*/
@mixin login-box($color, $focusColor) {
  padding: 0;

  [class*='-background'] {
    padding: 2rem;
    .basic-input {
      @include placeholder-color($color);

      input[type="text"], input[type="password"] {
        color: $color;
        @include border-bottom($color);
        @include focus($focusColor);
      }

      label {
        color: $color;
      }

      .required {
        &::before {
          color: $color;
        }
      }
    }

    a {
      color: $color;

      &:hover {
        color: $focusColor;
      }
    }
  }
}

/*icon rotate*/
@mixin icon-rotate {
  @include transition;

  transform: rotateX(180deg) translateY(-2px);
}

/*user select none*/
@mixin user-select-none {
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}

/*responsive media queries*/
@mixin respond($breakpoint) {
  @if $breakpoint == 'small' {
    @media(max-width: 600px) {
      @content
    }
  }

  @if $breakpoint == 'medium' {
    @media(max-width: 900px) {
      @content
    }
  }

  @if $breakpoint == 'large' {
    @media(max-width: 1200px) {
      @content
    }
  }

  @if $breakpoint == 'extra-large' {
    @media(min-width: 1800px) {
      @content
    }
  }
}
