// COLORS
$primary-color: #4285f4;
$secondary-color: #b579d2;
$tertiary-color: #2bbbad;

$green-color: rgb(29, 169, 85);
$orange-color: rgb(255, 136, 0);
$red-color: rgb(255, 53, 71);

$white-color: rgb(255, 255, 255);
$black-color: rgb(0, 0, 0);

$dark-grey-color-1: #5a5a5a;
$light-grey-color-1: #dddddd;

// SOCIAL COLORS
$SOCIAL-COLORS: (
  facebook: #3b5998,
  twitter: #55acee,
  google-plus: #dd4b39,
  linkedin: #0082ca,
  instagram: #2e5e86,
  pinterest: #c61118,
  youtube: #ed302f
);

// HEADER SIZE
$header-size: 6rem;

// SIDEBAR SIZE
$sidebar-size: 22rem;

// MODAL SIZES
$small-modal-size: 35rem;
$medium-modal-size: 50rem;
$large-modal-size: 80rem;

// GRID
$gutter-vertical: 1rem;
$gutter-horizontal: 2rem;

// TABLE
$table-th-padding: 1rem;
$table-td-padding: 1rem;

$scrollable-table-width: 170rem;

// STEPPER
$width-stepper: 6.2rem;
$stepper-icon-size: 4rem;

// Z-INDEX
$Z-INDEX: (
  'MODAL': 2,
  'MODAL-LAYER': 1,
  'MINUS-ONE': -1,
  'DROPDOWN': 2
);

// ICONS
$ICONS: (
  'CHECKED': "\f00c",
  'DROP': "\f078"
);
