<div class="tab-main">
  <div class="tab-main__head">
    <ul>
      <li>
        <a [ngClass]="{'active' : activeView === enumView.TAB_ONE}" (click)="onOpenTab(enumView.TAB_ONE)">Tab
          1</a>
      </li>
      <li>
        <a [ngClass]="{'active' : activeView === enumView.TAB_TWO}" (click)="onOpenTab(enumView.TAB_TWO)">Tab
          2</a>
      </li>
      <li>
        <a [ngClass]="{'active' : activeView === enumView.TAB_THREE}" (click)="onOpenTab(enumView.TAB_THREE)">Tab
          3</a>
      </li>
    </ul>
  </div>
  <div class="tab-main__body">
    <div *ngIf="activeView === enumView.TAB_ONE">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
      industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
      scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
      electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
      Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
      Aldus PageMaker including versions of Lorem Ipsum.
    </div>
    <div *ngIf="activeView === enumView.TAB_TWO">
      When an unknown printer took a galley of type and
      scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
      electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
      Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
      Aldus PageMaker including versions of Lorem Ipsum.
    </div>
    <div *ngIf="activeView === enumView.TAB_THREE">
      It was popularised in the 1960s with the release of
      Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
      Aldus PageMaker including versions of Lorem Ipsum. Lorem Ipsum is simply dummy text of the printing and
      typesetting industry. Lorem Ipsum has been the
      industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
      scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
      electronic typesetting, remaining essentially unchanged.
    </div>
  </div>
</div>
