<div class="header">

  <!--header brand logo-->
  <div class="header__logo">
    <a> <img src="assets/images/logo.png" width="120" alt=""> </a>
  </div>

  <!--header left side links-->
  <div class="header__left">
    <ul>
      <li><a class="active">Link 1</a></li>
      <li><a>Link 2</a></li>
      <li><a>Link 3</a></li>
    </ul>
  </div>

  <!--header right side links-->
  <div class="header__right">
    <ul>
      <li><a>Link 4</a></li>
      <li><a>Link 5</a></li>
      <li>
        <a (click)="isDropdown = !isDropdown">
          <img src="assets/images/profile.jpg"/>
          <i class="fa fa-chevron-down drop"></i>
        </a>
        <div [ngClass]="{'dropdown--open' : isDropdown}" class="dropdown">
          <ul>
            <li><a>Profile</a></li>
            <li><a>Logout</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>

<!--Close dropdown-->
<div (click)="isDropdown = false;" class="white-fixed-layer" *ngIf="isDropdown"></div>
