<div class="header header--white">

  <!--header brand logo-->
  <div class="header__logo">
    <a>
      <img src="assets/images/logo_black.png" width="120" alt="">
    </a>
  </div>

  <!--header left side links-->
  <div class="header__left">
    <ul>
      <li><a class="active">Link 1</a></li>
      <li><a>Link 2</a></li>
      <li><a>Link 3</a></li>
    </ul>
  </div>

  <!--header right side notifications-->
  <div class="header__right header--white__right">
    <ul>
      <li>
        <a class="header__right__badge header--white__right__badge">
          <i class="fa fa-bell"></i>
          <span>3</span>
        </a>
      </li>
      <li>
        <a class="header__right__badge header--white__right__badge">
          <i class="fa fa-envelope"></i>
          <span>3</span>
        </a>
      </li>
      <li>
        <a (click)="isDropdown = !isDropdown">
          <img src="assets/images/profile.jpg"/>
          <i class="fa fa-chevron-down drop"></i>
        </a>
        <div [ngClass]="{'dropdown--open' : isDropdown}" class="dropdown">
          <ul>
            <li><a>Profile</a></li>
            <li><a>Logout</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>

<!--Close dropdown-->
<div (click)="isDropdown = false;" class="white-fixed-layer" *ngIf="isDropdown"></div>

