<div class="right-section">
  <ul>
    <li>
      <a (click)="onNavigationChange('basic')" [ngClass]="{'active' : type == 'basic'}">Basic textarea with label</a>
    </li>
    <li>
      <a (click)="onNavigationChange('basicNoLabel')" [ngClass]="{'active' : type == 'basicNoLabel'}">Basic textarea without label</a>
    </li>
    <li>
      <a (click)="onNavigationChange('iconPrefixes')" [ngClass]="{'active' : type == 'iconPrefixes'}">Icon Prefixes</a>
    </li>
    <li>
      <a (click)="onNavigationChange('horizontal')" [ngClass]="{'active' : type == 'horizontal'}">Horizontal label</a>
    </li>
  </ul>
</div>

<div class="left-section">

  <div *ngIf="type == 'basic'">
    <p>Basic textarea with label</p>
    <br>

    <div *ngFor="let textareas of textareaArray;">
<div class="{{getClass(textareas)}} basic-textarea">
  <textarea rows="2" placeholder="Enter address"></textarea>
  <label>Address</label>
</div>
      <div class="code-section">
        <a (click)="onCopy(textareas.className)" class="copy">Copy</a>
        <div [innerHTML]="getHtmlCode(textareas.className) | language : 'html' | markdown"></div>
      </div>
    </div>
  </div>

  <div *ngIf="type == 'basicNoLabel'">
    <p>Basic textarea without label</p>
    <br>

    <div *ngFor="let textareas of textareaArray;">
<div class="{{getClass(textareas)}} basic-textarea textarea-no-label">
  <textarea rows="2" placeholder="Enter address"></textarea>
</div>
      <div class="code-section">
        <a (click)="onCopy(textareas.className)" class="copy">Copy</a>
        <div [innerHTML]="getHtmlCode(textareas.className) | language : 'html' | markdown"></div>
      </div>
    </div>
  </div>

  <div *ngIf="type == 'iconPrefixes'">
    <p>Icon prefixes</p>
    <br>

    <div *ngFor="let textareas of textareaArray;">
<div class="{{getClass(textareas)}} basic-textarea icons-textarea">
  <i class="fa fa-address-card"></i>
  <textarea rows="2" placeholder="Enter address"></textarea>
  <label>Address</label>
</div>
      <div class="code-section">
        <a (click)="onCopy(textareas.className)" class="copy">Copy</a>
        <div [innerHTML]="getHtmlCode(textareas.className) | language : 'html' | markdown"></div>
      </div>
    </div>
  </div>

  <div *ngIf="type == 'horizontal'">
    <p>Horizontal label</p>
    <br>

    <div *ngFor="let textareas of textareaArray;">
<div class="{{getClass(textareas)}} basic-textarea horizontal-textarea">
  <label>Address</label>
  <textarea rows="2" placeholder="Enter address"></textarea>
</div>
      <div class="code-section">
        <a (click)="onCopy(textareas.className)" class="copy">Copy</a>
        <div [innerHTML]="getHtmlCode(textareas.className) | language : 'html' | markdown"></div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isCopied" class="copied-toast">
  <p>Code Copied!!!</p>
</div>
