*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

* {
  &:focus {
    outline: none;
  }
}

html {
  font-size: 10px;
}

body {
  box-sizing: border-box;
}

ul {
  li {
    list-style: none;
    display: inline-block;
  }
}

a {
  cursor: pointer;
  &:hover {
    color: $primary-color;
  }
}

h1, h2, h3, h4, h5, h6, img, ul, li {
  margin: 0;
  padding: 0;
}

select::-ms-expand {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  border-collapse: collapse;
}
