/*text transform*/
$textTransform: ('uppercase', 'lowercase', 'capitalize');
@each $transform in $textTransform {
  .#{$transform} {
    text-transform: #{$transform} !important;
  }
}

/*text alignments*/
$alignment: ('left', 'right', 'center', 'justify');
@each $alignmentText in $alignment {
  .text-#{$alignmentText} {
    text-align: #{$alignmentText} !important;
  }
}

/*status colors and background*/
$colorsName: (
  'primary': $primary-color,
  'secondary': $secondary-color,
  'tertiary': $tertiary-color,
  'red': $red-color,
  'green': $green-color,
  'orange': $orange-color,
  'dark-grey': $dark-grey-color-1,
  'light-grey': $light-grey-color-1
);

@each $map-key, $map-value in $colorsName {

  /*status colors*/
  .#{$map-key}-color {
    color: $map-value !important;
  }

  /*background colors*/
  .#{$map-key}-background {
    background: $map-value !important;
  }

  /*border colors*/
  .#{$map-key}-border {
    border-color: $map-value !important;
  }
}

/*border*/
$direction: ('top', 'left', 'right', 'bottom');
@each $directions in $direction {
  .#{$directions}-border {
    border-#{$directions} : .1rem solid $primary-color;
  }
}

/*border color*/
.border {
  border: .1rem solid;
}

.no-border {
  border-color: transparent;
}

/*layers*/
.white-fixed-layer {
  @include position-values(fixed, 0, 0, 100%, 100%, transparent);
}

/*vertical alignment*/
$alignments: ('top', 'middle', 'bottom', 'baseline', 'text-top', 'text-bottom', 'sup', 'sub');

@each $alignment in $alignments {
  .vertical-#{$alignment} {
    vertical-align: #{$alignment} !important;
  }
}

/*block element*/
.block {
  display: block !important;
}

.inline-block {
  display: inline-block !important;
}

/*border radius*/
.rounded {
  @include border-radius(.5rem);
}

.rounded-circle {
  @include border-radius(50%);
}

.no-rounded {
  @include border-radius(0);
}

/*body scroll fix*/
.scroll-hide {
  overflow: hidden;
}

/*validation*/
.validation-group {
  line-height: 1.2rem;

  span {
    color: $red-color;
    font-size: 1.2rem;
  }

  validation + validation {
    display: none;
  }
}

/*spacing*/
$spacing: (5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 60, 70, 80, 90, 100);
@each $spacings in $spacing {
  @each $directions in $direction {
    .M#{to_upper_case(str_slice($directions,0,1))}#{$spacings} {
      margin-#{$directions} : #{$spacings}px !important;
    }

    .P#{to_upper_case(str_slice($directions,0,1))}#{$spacings} {
      padding-#{$directions} : #{$spacings}px !important;
    }
  }
}

/*float*/
$floatValue: ('left', 'right', 'none');
@each $floatValues in $floatValue {
  .#{$floatValues} {
    float: #{$floatValues} !important;
  }

  @include respond(small) {
    .xs-#{$floatValues} {
      float: #{$floatValues} !important;
    }
  }

  @include respond('medium') {
    .sm-#{$floatValues} {
      float: #{$floatValues} !important;
    }
  }
}

/*clearfix*/
.clearfix {
  @include clearfix;
}

/*icon open close*/
.icon-open {
  @include transition;
}

.icon-close {
  @include icon-rotate;
}
