.accordion-main {
  margin-bottom: 1rem;

  &__head {
    a {
      cursor: pointer;
      display: block;
      position: relative;
      background: $white-color;
      padding: 1rem;
      color: $dark-grey-color-1;

      h3 {
        display: inline-block;
      }

      .icon-open {
        position: absolute;
        right: 1rem;
        top: 1.5rem;
      }
    }
  }

  &__body {
    background: $white-color;
    padding: 1rem;
  }
}
