.btn {
  color: $white-color;

  @include transition;
  box-shadow: none;
  cursor: pointer;
  padding: 1rem 3rem;
  border: none;
  text-transform: uppercase;
  font: {
    family: inherit;
    size: 1.4rem;
    weight: 700;
  }
}

$colorsName: (
  'primary': $primary-color,
  'secondary': $secondary-color,
  'tertiary': $tertiary-color,
  'success': $green-color,
  'warn': $orange-color,
  'danger': $red-color,
  'cancel': $light-grey-color-1,
  'white': $white-color
);

@each $map-key, $map-value in $colorsName {
  .btn-#{$map-key} {
    background: $map-value;

    @if ($map-key == 'cancel') or ($map-key == 'white') {
      color: $dark-grey-color-1;
    }

    &:disabled {
      background: light-color($map-value, 10%);
      &:hover {
        background: light-color($map-value, 10%);
      }
    }

    &:hover {
      background: dark-color($map-value, 10%);
    }
  }

  .btn-#{$map-key}-outline {
    @include outline-buttons($map-value);

    &:disabled {
      border-color: light-color($map-value, 15%);
      color: light-color($map-value, 15%);
      &:hover {
        border-color: light-color($map-value, 15%);
        color: light-color($map-value, 15%);
      }
    }

    &:hover {
      border-color: dark-color($map-value, 15%);
      color: dark-color($map-value, 15%);
    }
  }
}

/*rounded buttons*/
.btn-rounded {
  @include border-radius(2.5rem);
}

/*flat button*/
.btn-flat {
  background: transparent;
  border: .2rem solid transparent;
  color: $black-color;
  padding: .8rem 3rem;
  &:hover {
    color: light-color($black-color, 50%) !important;
  }
}

/*gradient button*/
.btn-gradient {
  background: linear-gradient(40deg, $primary-color, $secondary-color) !important;
  border-width: .2rem;
}

/*sizes button*/
.btn-lg {
  font-size: 1.8rem;
  padding: 1.2rem 3.2rem;
}

.btn-sm {
  font-size: 1rem;
  padding: .8rem 2.8rem;
}

/*block button*/
.btn-block {
  width: 100%;
}

/*icons buttons*/
.btn-icons {
  i {
    font-size: 1.2rem;
    margin-right: .5rem;
  }
}

/*icons animation button*/
.btn-animation-icons {
  i {
    @include transition;
    margin-left: .5rem;
    font-size: 1.2rem;
    position: relative;
    left: 0;
  }

  &:hover {
    i {
      left: 1rem;
    }
  }
}

/*disabled button*/
.btn:disabled {
  cursor: not-allowed;
}
