.checkbox-group {
  display: inline-block;
  position: relative;

  input[type="checkbox"] {
    display: none;

    &:checked {
      ~ label {
        span {
          background: $primary-color;
          border-color: $primary-color;
          &::after {
            opacity: 1;
          }
        }
      }
    }
  }

  label {
    cursor: pointer;
    color: $dark-grey-color-1;
    padding-left: 3rem;
    display: table-cell;
    font: {
      size: 1.6rem;
      weight: 400;
    }

    span {
      border: .2rem solid $dark-grey-color-1;

      @include position-values(absolute, .5rem, -.1rem, 1.8rem, 1.8rem, '');
      display: inline-block;

      &::after {
        color: $white-color;
        content: icon('CHECKED');

        @include transition;
        @include position-values(absolute, -.2rem, 0, '', '', '');
        @include border-radius(50%);
        font: {
          family: 'FontAwesome';
          size: 1.3rem;
          weight: bold;
        }
        display: block;
        opacity: 0;
      }
    }
  }
}
