div.dropdown {
  z-index: z('DROPDOWN');
  @include box-shadow;
  @include position-values(absolute, $header-size, calc(100% - 18rem), auto, 17rem, $white-color);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  transform: translateY(-2em);

  ul {
    padding: 1rem;
    li {
      display: block;
      text-align: left;
      a {
        color: $dark-grey-color-1;
        display: block;
        padding: .6rem;
        font-size: 1.6rem;
        line-height: 2.6rem;
        &:hover {
          color: $primary-color;
        }
      }
    }
  }

  &.dropdown--open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.2s;
  }
}
