/*extends*/
.color-form-group {
  color: $dark-grey-color-1;
}

.attachment {
  z-index: z('MINUS-ONE');
  @extend .color-form-group;
  position: absolute;
  right: 1rem;
  font-size: 1.8rem;
}

/*common*/
.basic-input, .basic-select {
  display: block;
  width: 100%;
  margin-bottom: 2.5rem;
  height: 6rem;
  position: relative;

  label {
    @extend .color-form-group;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 1.6rem;
  }
}

/*basic input*/
.basic-input {
  @include placeholder-color('#a9a9a9');

  input[type="text"], input[type="password"], textarea {
    width: 100%;
    background: transparent;
    padding: 1rem 0;
    border: none;
    text-align: left;
    margin-top: 1.9rem;
    font: {
      family: inherit;
      weight: 500;
      size: 1.6rem;
    }
    @include box-shadow-none();
    @include border-bottom($light-grey-color-1);
    @include border-radius(0);
    @include focus($primary-color);
  }
  .required {
    &:before {
      @extend .color-form-group;
      position: absolute;
      content: '*';
      right: -.8rem;
    }
  }
  .fa-paperclip {
    @extend .attachment;
    top: 3.1rem;
  }
}

/*full border*/
.basic-input-border {
  input[type="text"], input[type="password"], textarea {
    @include border($light-grey-color-1);
    padding: 1rem;
  }
}

/*without label*/
.basic-input.no-label, .basic-select.no-label {
  height: 4.2rem;
  input[type="text"], input[type="password"], select {
    margin-top: 0;
  }
  .basic-select__bg {
    top: 0;
  }
  .fa-paperclip {
    @extend .attachment;
    top: 1.3rem;
  }
}

.basic-select.no-label {
  &::before {
    top: 1rem;
  }
}

/*small input*/
.basic-input-sm {
  height: 4.8rem;
  margin-bottom: 2rem;
  label {
    font-size: 1.2rem;
  }
  input[type="text"], input[type="password"] {
    padding: .5rem 0;
    font-size: 1.4rem;
  }
}

.basic-input-border.basic-input-sm {
  input[type="text"], input[type="password"], select {
    padding: .5rem;
  }
}

/*small select*/
.basic-select-border.basic-select-sm {
  height: 4.8rem;
  margin-bottom: 2rem;
  label {
    font-size: 1.2rem;
  }
  select {
    padding: .5rem;
    font-size: 1.4rem;
  }
  &:before {
    font-size: 1rem;
    top: .6rem;
  }
}

/*large input*/
.basic-input-lg {
  height: 7.2rem;
  label {
    font-size: 1.6rem;
  }
  input[type="text"], input[type="password"] {
    padding: 1.5rem 0;
    font-size: 1.8rem;
  }
}

.basic-input-border.basic-input-lg {
  input[type="text"], input[type="password"] {
    padding: 1.5rem;
  }
}

/*basic textarea*/
.basic-textarea {
  height: 8.2rem;
  textarea {
    resize: none;
  }
}

/*no label textarea*/
.basic-textarea.textarea-no-label {
  height: 6.2rem;
  textarea {
    margin-top: 0;
  }
}

/*icons textarea*/
.icons-textarea {
  textarea {
    padding-left: 2.5rem;
  }

  i.fa {
    position: absolute;
    left: 0;
    top: 3.3rem;
    @extend .color-form-group;
  }
}

.icons-textarea.basic-input-border {
  textarea {
    padding-left: 3.5rem;
  }

  i.fa {
    left: 1rem;
  }
}

/*horizontal textarea label*/
.horizontal-textarea {
  height: 6.4rem;
  label {
    display: inline-block;
    width: 15rem;
    position: relative;
    font-size: 1.6rem;
    vertical-align: top;
    margin-top: 1rem;
  }
  textarea {
    display: inline-block;
    width: calc(100% - 15.4rem);
    margin-top: 0;
  }
}

/*select group*/
.basic-select {
  select {
    width: 100%;
    margin-top: 1.9rem;
    position: relative;
    background: transparent;
    padding: 1rem .5rem;
    border: 0;
    cursor: pointer;
    font: {
      family: inherit;
      size: 1.6rem;
    }
    @include border-bottom($light-grey-color-1);
    @include focus($primary-color);
  }

  &::before {
    @include before-icons;
    top: 3rem;
    right: 1rem;
  }

  &__bg {
    z-index: z('MINUS-ONE');
    position: absolute;
    height: 4.2rem;
    width: 100%;
    top: 1.9rem;
    background: transparent;
  }
}

/*full border*/
.basic-select-border {
  select {
    @include border($light-grey-color-1);
    padding: 1rem;
  }
}

/*icons input*/
.icons-group {
  input[type="text"], input[type="password"], select {
    padding-left: 2.5rem;
  }

  i.fa {
    @extend .color-form-group;
    position: absolute;
    left: 0;
    bottom: 1.3rem;
  }
}

.icons-group.basic-input-border, .icons-group.basic-select-border {
  input[type="text"], input[type="password"], select {
    padding-left: 3.5rem;
  }

  i.fa {
    left: 1rem;
  }
}

.h-label {
  display: inline-block;
  width: 15rem;
  position: relative;
  font-size: 1.6rem;
}

.h-right {
  display: inline-block;
  width: calc(100% - 15.4rem);
  margin-top: 0;
}

/*horizontal input*/
.horizontal-group {
  height: 4.2rem;
  label {
    @extend .h-label;
  }
  input[type="text"], input[type="password"], select {
    @extend .h-right;
  }
  &::before {
    top: 1rem;
  }
  .basic-select__bg {
    width: calc(100% - 15.4rem);
    right: 0;
    top: 0;
  }
}

/*file selection with button*/
.file-selection-left, .file-selection-right {
  button {
    width: 17rem;
    display: inline-block;
  }

  & > div {
    width: calc(100% - 17.5rem);
    display: inline-block;
  }
}

.file-selection-left {
  & > div {
    padding-left: 2rem;
  }
}

.file-selection-right {
  & > div {
    padding-right: 2rem;
  }
}

/*file selection with image*/
.picture-upload {
  @include height-width(15rem, 15rem);
  position: relative;
  display: inline-block;

  img {
    @include image-rounded;
    @include height-width(15rem, 15rem);
    border: .2rem solid $light-grey-color-1;
  }

  &__hover {
    @include transition;
    @include border-radius(50%);
    @include position-values(absolute, 0, 0, 100%, 100%, rgba(0, 0, 0, .3));
    text-align: center;
    display: none;
    .fa {
      color: $white-color;

      font-size: 2.6rem;
      line-height: 15rem;
    }
  }

  &:hover {
    .picture-upload__hover {
      display: block;
    }
  }
}

/*horizontal radio*/
.horizontal-group-radio {
  display: block;
  &__label {
    @extend .h-label;
  }
  ul {
    @extend .h-right;
  }
}
