.modal {
  z-index: z('MODAL');
  @include border-radius(.5rem);
  @include position-values(fixed, auto, modal-center(50%, $medium-modal-size), auto, $medium-modal-size, $white-color);
  opacity: 0;
  padding: 1.5rem 2.5rem;

  &__close {
    position: absolute;
    right: 2.5rem;
    top: 1rem;
    font: {
      size: 2rem;
      weight: normal;
    }
  }

  &__header {
    @include border-bottom($light-grey-color-1);

    h3 {
      color: $primary-color;

      padding-bottom: 1rem;
      font-weight: 500;
    }
  }

  &__body {
    margin-top: 2rem;
  }

  &__footer {
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;

    .btn-primary {
      margin-left: 1rem;
    }
  }

  &--small {
    width: $small-modal-size;

    left: modal-center(50%, $small-modal-size);
    padding: 1rem 1.5rem;

    .modal__close {
      font-size: 1.4rem;
      top: 1.3rem;
      right: 2rem;
    }

    .btn {
      padding: .5rem 1.5rem;
    }
  }

  &--large {
    width: $large-modal-size;

    left: modal-center(50%, $large-modal-size);
    padding: 1rem 1.5rem;
  }
}

.modal-layer {
  z-index: z('MODAL-LAYER');
  @include position-values(fixed, 0, 0, 100%, 100%, rgba(0, 0, 0, .6));
}
