.switch {
  @include position-values(relative, auto, auto, 2rem, 4.6rem, auto);
  display: inline-block;

  input {
    display: none;

    &:checked {
      + .switch__slider {
        background: $primary-color;

        &::before {
          -webkit-transform: translateX(2.6rem);
          -ms-transform: translateX(2.6rem);
          transform: translateX(2.6rem);
        }
      }
    }
  }

  &__slider {
    @include transition;
    @include position-values(absolute, 0, 0, auto, auto, #ccc);
    cursor: pointer;
    right: 0;
    bottom: 0;

    &::before {
      @include transition;
      @include position-values(absolute, auto, .4rem, 1.2rem, 1.2rem, $white-color);
      content: "";
      bottom: .4rem;
    }
  }

  /*rounded switch*/
  &--round {
    border-radius: 2rem;
    &::before {
      border-radius: 50%;
    }
  }
}
