.table {
  width: 100%;

  thead {
    @include border-bottom($light-grey-color-1);
    th {
      padding: $table-th-padding;

      text-align: left;
      font-weight: 500;
    }
  }
  tbody {
    tr {
      @include border-bottom($light-grey-color-1);
      td {
        padding: $table-th-padding;
        color: $dark-grey-color-1;

        white-space: normal;
        word-break: break-all;

        &:last-child {
          a {
            margin-right: .7rem;

            &:first-child {
              color: $primary-color;
            }

            &:last-child {
              color: $red-color;
            }
          }
        }
      }

      &:last-child {
        border-bottom: 0;
      }
    }
  }

  /*table without border*/
  &--no-bordered {
    thead {
      border-bottom: 0;
    }
    tbody {
      tr {
        border-bottom: 0;
      }
    }
  }

  /*table bordered*/
  &--bordered {
    th, td {
      @include border($light-grey-color-1);
    }
  }

  /*table thead*/
  &--head {
    thead {
      background: $primary-color;
      th {
        color: $white-color;
      }
    }
  }

  /*table striped*/
  &--striped {
    tbody {
      tr {
        border-bottom: 0;

        &:nth-child(odd) {
          background: #ececec;
        }
      }
    }
  }

  /*table striped with border*/
  &--striped-border {
    tbody {
      tr {
        @include border-bottom($light-grey-color-1);

        &:last-child {
          border-bottom: 0;
        }
      }
    }
  }

  /*table center*/
  &--center {
    thead {
      th {
        text-align: center;
      }
    }
    tbody {
      td {
        text-align: center;
      }
    }
  }

  /*table hover*/
  &--hover {
    tbody {
      tr {
        &:hover {
          background: #ececec;
        }
      }
    }
  }

  /*table searchable*/
  &--searchable {
    &__row {
      div.basic-select, div.basic-input {
        width: 90%;
        margin-bottom: 0;
        height: initial;
        input, select {
          margin-top: 0 !important;
        }
        select {
          .basic-select__bg {
            height: 2.9rem;
            top: 0;
          }
        }
      }
    }
  }

  /*table sorting*/
  &--sorting {
    .sort-icon {
      font-size: 1rem !important;
      margin-left: .5rem;
    }
    .sort {
      color: $primary-color;
    }
  }

  /*table expandable*/
  &--expandable {
    tbody {
      tr {
        .icon-open {
          font-size: 1.2rem;
        }
        &:not(:nth-of-type(n + 2)) {
          border-bottom: .1rem solid $light-grey-color-1 !important;
          display: flex;
          cursor: pointer;
        }
        &:nth-of-type(n + 2) {
          background: light-color($light-grey-color-1, 50%);
          div {
            padding: 1rem;
          }
        }
      }

      &:last-child {
        tr {
          border-bottom: 0 !important;
        }
      }
    }
    &__open {
      td {
        color: $primary-color !important;
      }
    }
  }

  /*table horizontol scroll*/
  &--horizontal-scroll {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  &--horizontal-scroll & {
    width: $scrollable-table-width;
  }
}
