<div class="right-section">
  <ul>
    <li><a (click)="onNavigationChange('basic')" [ngClass]="{'active' : type == 'basic'}">Basic switch square</a></li>
    <li><a (click)="onNavigationChange('basicRound')" [ngClass]="{'active' : type == 'basicRound'}">Basic switch round</a></li>
  </ul>
</div>


<div class="left-section">
  <div *ngIf="type == 'basic'">
      <p>Basic switch square</p>
      <br>

<label class="switch">
  <input type="checkbox" checked>
  <span class="switch__slider"></span>
</label>

      <div class="code-section">
        <a (click)="onCopy('switch')" class="copy">Copy</a>
        <div [innerHTML]="getHtmlCode('switch') | language : 'html' | markdown"></div>
      </div>
    </div>
  <div *ngIf="type == 'basicRound'">
      <p>Basic switch round</p>
      <br>

<label class="switch">
  <input type="checkbox" checked>
  <span class="switch__slider switch--round"></span>
</label>

      <div class="code-section">
        <a (click)="onCopy('switch')" class="copy">Copy</a>
        <div [innerHTML]="getHtmlCode('switch') | language : 'html' | markdown"></div>
      </div>
    </div>
</div>

<div *ngIf="isCopied" class="copied-toast">
  <p>Code Copied!!!</p>
</div>
