<div (mouseenter)="onSidebarHover()" (mouseleave)="hideMenu()" class="sidebar sidebar--hover"
     [ngClass]="{'sidebar--move' : isSidebarMove}">
  <ul>
    <li>
      <a routerLinkActive="active" [routerLink]="dashboardUrl" (click)="hideMenu()">
        <span class="sidebar__title sidebar--hover__title">Dashboard</span>
        <span class="sidebar--hover__small-menu">
          <i class="fa fa-dashboard sidebar__icon sidebar--hover__icon"></i>
        </span>
      </a>
    </li>
    <li>
      <a (click)="hideMenu()">
        <span class="sidebar__title sidebar--hover__title">Users</span>
        <span class="sidebar--hover__small-menu">
          <i class="fa fa-user sidebar__icon sidebar--hover__icon"></i>
        </span>
      </a>
    </li>
    <li>
      <a (click)="hideMenu()">
        <span class="sidebar__title sidebar--hover__title">Reports</span>
        <span class="sidebar--hover__small-menu">
          <i class="fa fa-list sidebar__icon sidebar--hover__icon"></i>
        </span>
      </a>
    </li>
  </ul>
</div>
