<div class="sidebar">
  <ul>
    <li>
      <a routerLinkActive="active" [routerLink]="dashboardUrl">
        <i class="fa fa-dashboard sidebar__icon"></i> Dashboard
      </a>
    </li>
    <li><a><i class="fa fa-dashboard sidebar__icon"></i> Country</a></li>
    <li><a><i class="fa fa-dashboard sidebar__icon"></i> State</a></li>
    <li><a><i class="fa fa-dashboard sidebar__icon"></i> City</a></li>
  </ul>
</div>
