<a (click)="menuToggle();" class="sidebar-toggle">
  <i class="fa fa-bars"></i>
</a>
<div class="sidebar sidebar--icons" [ngClass]="{'sidebar--small' : isExpand}">
  <ul>
    <li>
      <a routerLinkActive="active" [routerLink]="dashboardUrl" class="active"><i
        class="fa fa-dashboard sidebar__icon"></i>
        <span *ngIf="!isExpand">Dashboard</span>
      </a>
    </li>
    <li>
      <a><i class="fa fa-dashboard sidebar__icon"></i>
        <span *ngIf="!isExpand">Country</span>
      </a>
    </li>
    <li>
      <a><i class="fa fa-dashboard sidebar__icon"></i>
        <span *ngIf="!isExpand">State</span>
      </a>
    </li>
    <li>
      <a><i class="fa fa-dashboard sidebar__icon"></i>
        <span *ngIf="!isExpand">City</span>
      </a>
    </li>
  </ul>
</div>
