<a (click)="menuToggle();" class="sidebar-toggle">
  <i class="fa fa-bars"></i>
</a>
<div class="sidebar" [ngClass]="{'sidebar--hide' : isExpand}">
  <ul>
    <li>
      <a routerLinkActive="active" [routerLink]="dashboardUrl">
        <i class="fa fa-dashboard sidebar__icon"></i>Dashboard
      </a>
    </li>
    <li>
      <a [ngClass]="{'menu-open' : isOpenMenu == 'master'}" (click)="onOpenMenu('master')">
        <i class="fa fa-dashboard sidebar__icon"></i> Masters
        <i class="fa fa-chevron-down sidebar__down"></i>
      </a>
      <ul *ngIf="isOpenMenu == 'master'">
        <li><a>Country</a></li>
        <li><a>State</a></li>
        <li><a>City</a></li>
      </ul>
    </li>
    <li>
      <a><i class="fa fa-dashboard sidebar__icon"></i> Support</a>
    </li>
    <li>
      <a><i class="fa fa-dashboard sidebar__icon"></i> Logs</a>
    </li>
    <li>
      <a [ngClass]="{'menu-open' : isOpenMenu == 'logs'}" (click)="onOpenMenu('logs')">
        <i class="fa fa-dashboard sidebar__icon"></i>
        <i class="fa fa-chevron-down sidebar__down"></i>
        Reports
      </a>
      <ul *ngIf="isOpenMenu == 'logs'">
        <li><a>Users</a></li>
        <li><a>Admins</a></li>
        <li><a>Super Admins</a></li>
      </ul>
    </li>
  </ul>
</div>
