<div class="right-section">
  <ul>
    <li><a (click)="onNavigationChange('basic')" [ngClass]="{'active' : type == 'basic'}">Without Validation</a></li>
    <li><a (click)="onNavigationChange('basicValidation')" [ngClass]="{'active' : type == 'basicValidation'}">With
      validation</a></li>
    <li><a (click)="onNavigationChange('color')" [ngClass]="{'active' : type == 'color'}">Color</a></li>
  </ul>
</div>

<div class="left-section">

  <div *ngIf="type == 'basic'">
    <p>Basic login page without validation</p>
    <br>

    <div class="login-box">
      <div class="login-box__image">
        <img src="assets/images/logo_black.png" alt="">
      </div>

      <div class="login-box__body">
        <form>
          <div class="basic-input">
            <input Focus placeholder="Enter your email" type="text">
            <label class="required">Email</label>
          </div>

          <div class="basic-input">
            <input placeholder="Enter your email" type="password">
            <label class="required">Password</label>
          </div>
        </form>
      </div>

      <div class="login-box__footer">
        <div>
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
        <div>
          <a>Forgot password?</a>
          <a>Sign Up</a>
        </div>
      </div>
    </div>

    <h3 class="code-lang-type">HTML</h3>
    <div class="code-section">
      <a (click)="onCopyFile(files[0].codeText)" class="copy">Copy</a>
      <div markdown [src]="files[0].filePath"></div>
    </div>
  </div>

  <div *ngIf="type == 'basicValidation'">
    <p>Basic login page with validation</p>
    <br>

    <div class="login-box">
      <div class="login-box__image">
        <img src="assets/images/logo_black.png" alt="">
      </div>

      <div class="login-box__body">
        <form [formGroup]="loginForm" (submit)="onLoginFormSubmit(loginForm.value,loginForm.valid)">
          <div class="basic-input">
            <input formControlName="email" Focus placeholder="example@gmail.com" type="text">
            <label class="required">Email</label>
            <div class="validation-group">
              <validation *ngIf="isRequiredField(loginForm.get('email'))"
                          [errMsg]="validationMsg.EMAIL_REQUIRED"></validation>
              <validation *ngIf="isValidField(loginForm.get('email'))"
                          [errMsg]="validationMsg.EMAIL_VALID"></validation>
              <validation *ngIf="isValidLength(loginForm.get('email'))"
                          [errMsg]="validationMsg.EMAIL_LENGTH"></validation>
            </div>
          </div>

          <div class="basic-input">
            <input formControlName="password" placeholder="*******" type="password">
            <label class="required">Password</label>
            <div class="validation-group">
              <validation *ngIf="isRequiredField(loginForm.get('password'))"
                          [errMsg]="validationMsg.PASSWORD_REQUIRED"></validation>
              <validation *ngIf="isValidField(loginForm.get('password'))"
                          [errMsg]="validationMsg.PASSWORD_VALID"></validation>
              <validation *ngIf="isValidLength(loginForm.get('password'))"
                          [errMsg]="validationMsg.PASSWORD_LENGTH"></validation>
            </div>
          </div>
        </form>
      </div>

      <div class="login-box__footer">
        <div>
          <button [disabled]="loginForm.invalid" type="submit" class="btn-primary btn">Login</button>
        </div>
        <div>
          <a>Forgot password?</a>
          <a>Sign Up</a>
        </div>
      </div>
    </div>

    <h3 class="code-lang-type">HTML</h3>
    <div class="code-section">
      <a (click)="onCopyFile(files[1].codeText)" class="copy">Copy</a>
      <div markdown [src]="files[1].filePath"></div>
    </div>

    <h3 class="code-lang-type">Type script</h3>
    <div class="code-section">
      <a (click)="onCopyFile(files[2].codeText)" class="copy">Copy</a>
      <div markdown [src]="files[2].filePath"></div>
    </div>

  </div>

  <div *ngIf="type == 'color'">
    <p>Basic login page color</p>
    <br>

    <div class="login-box login-box--color">
      <div class="secondary-background">
        <div class="login-box__image">
          <img src="assets/images/logo.png" alt="">
        </div>

        <div class="login-box__body">
          <form>
            <div class="basic-input">
              <input Focus placeholder="Enter your email" type="text">
              <label class="required">Email</label>
            </div>

            <div class="basic-input">
              <input placeholder="Enter your email" type="password">
              <label class="required">Password</label>
            </div>
          </form>
        </div>

        <div class="login-box__footer">
          <div>
            <button type="submit" class="btn btn-white">Login</button>
          </div>
          <div>
            <a>Forgot password?</a>
            <a>Sign Up</a>
          </div>
        </div>
      </div>
    </div>

    <h3 class="code-lang-type">HTML</h3>
    <div class="code-section">
      <a (click)="onCopyFile(files[3].codeText)" class="copy">Copy</a>
      <div markdown [src]="files[3].filePath"></div>
    </div>

  </div>
</div>

<div *ngIf="isCopied" class="copied-toast">
  <p>Code Copied!!!</p>
</div>
