<div class="right-section">
  <ul>
    <li>
      <a (click)="onNavigationChange('basic'); fileNameInitialize()" [ngClass]="{'active' : type == 'basic'}">Basic with label</a>
    </li>
    <li>
      <a (click)="onNavigationChange('button'); fileNameInitialize()" [ngClass]="{'active' : type == 'button'}">File selection with button</a>
    </li>
    <li>
      <a (click)="onNavigationChange('image'); fileNameInitialize()" [ngClass]="{'active' : type == 'image'}">File selection with image</a>
    </li>
  </ul>
</div>

<div class="left-section">
  <div *ngIf="type == 'basic'">
    <p>Basic input with label</p>
    <br>

    <div class="basic-input">
      <input type="file" hidden id="file" (change)="onFileGetName($event)">
      <input type="text" placeholder="Select file" readonly (click)="onFileSelect('file')" value="{{fileName}}"/>
      <label>Passport</label>
      <i class="fa fa-paperclip"></i>
    </div>

    <h3 class="code-lang-type">HTML</h3>
    <div class="code-section">
      <a (click)="onCopyFile(files[0].codeText)" class="copy">Copy</a>
      <div markdown [src]="files[0].filePath"></div>
    </div>

    <h3 class="code-lang-type">Type script</h3>
    <div class="code-section">
      <a (click)="onCopyFile(files[1].codeText)" class="copy">Copy</a>
      <div markdown [src]="files[1].filePath"></div>
    </div>
  </div>

  <div *ngIf="type == 'button'">
    <p>File selection with button</p>
    <br>

    <div class="basic-input no-label file-selection-left">
      <button (click)="onFileSelect('filePassport')" class="btn btn-primary">Choose file</button>
      <div>
        <input type="file" hidden id="filePassport" (change)="onFileGetName($event)">
        <input type="text" placeholder="Passport" readonly value="{{fileName}}"/>
      </div>
    </div>

    <div class="code-section">
      <a (click)="onCopyFile(files[2].codeText)" class="copy">Copy</a>
      <div markdown [src]="files[2].filePath"></div>
    </div>

    <div class="basic-input no-label file-selection-right">
      <div>
        <input type="file" hidden id="filePassportBtn" (change)="onFileGetName($event)">
        <input type="text" placeholder="Passport" readonly value="{{fileName}}"/>
      </div>
      <button (click)="onFileSelect('filePassportBtn')" class="btn btn-primary">Choose file</button>
    </div>

    <div class="code-section">
      <a (click)="onCopyFile(files[3].codeText)" class="copy">Copy</a>
      <div markdown [src]="files[3].filePath"></div>
    </div>

  </div>

  <div *ngIf="type == 'image'">
    <p>File selection with image</p>
    <br>

    <a class="picture-upload">
      <input type="file" hidden id="profilePic"/>
      <img src="assets/images/profile.jpg"/>
      <div (click)="onFileSelect('profilePic')" class="picture-upload__hover">
        <i class="fa fa-camera"></i>
      </div>
    </a>

    <h3 class="code-lang-type">HTML</h3>
    <div class="code-section">
      <a (click)="onCopyFile(files[4].codeText)" class="copy">Copy</a>
      <div markdown [src]="files[4].filePath"></div>
    </div>

    <h3 class="code-lang-type">Type script</h3>
    <div class="code-section">
      <a (click)="onCopyFile(files[5].codeText)" class="copy">Copy</a>
      <div markdown [src]="files[5].filePath"></div>
    </div>
  </div>
</div>

<div *ngIf="isCopied" class="copied-toast">
  <p>Code Copied!!!</p>
</div>
