<div class="right-section">
  <ul>
    <li><a (click)="onNavigationChange('basic')" [ngClass]="{'active' : type == 'basic'}">Border</a></li>
    <li><a (click)="onNavigationChange('radius')" [ngClass]="{'active' : type == 'radius'}">Border radius</a></li>
    <li><a (click)="onNavigationChange('color')" [ngClass]="{'active' : type == 'color'}">Border color</a></li>
  </ul>
</div>

<div class="left-section">
  <div *ngIf="type == 'basic'">
    <p>Border</p>
    <br>

    <div *ngFor="let border of borderArray;let i =index;">
      <div class="additive-border">
        <div class="{{border.className}}"></div>
      </div>

      <div class="code-section">
        <a (click)="onCopy(border.className)" class="copy">Copy</a>
        <div [innerHTML]="getHtmlCode(border.className) | language : 'html' | markdown"></div>
      </div>
    </div>
  </div>

  <div *ngIf="type == 'radius'">
    <p>Border radius</p>
    <br>

    <div *ngFor="let borderRadius of borderRadiusArray;let i =index;">
      <img src="assets/images/profile.jpg" width="125" class="{{borderRadius.className}}">

      <div class="code-section">
        <a (click)="onCopy(borderRadius.className)" class="copy">Copy</a>
        <div [innerHTML]="getHtmlCode(borderRadius.className) | language : 'html' | markdown"></div>
      </div>
    </div>
  </div>

  <div *ngIf="type == 'color'">
    <p>Border color</p>
    <br>

    <div *ngFor="let borderColor of borderColorArray;let i =index;">
      <div class="border {{borderColor.className}}"></div>

      <div class="code-section">
        <a (click)="onCopy(borderColor.className)" class="copy">Copy</a>
        <div [innerHTML]="getHtmlCode(borderColor.className) | language : 'html' | markdown"></div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isCopied" class="copied-toast">
  <p>Code Copied!!!</p>
</div>
