<!--<div class="user-header">
  <div class="user-header__title">
    <h2>Design</h2>
  </div>
</div>-->

<div class="sidepanel">
  <ul>
    <li>
      <a [ngClass]="{'sidepanel__open' : isOpenMenu == 'components'}" (click)="onOpenMenu('components')">
        <i class="fa fa-gem"></i>Components <i class="fa fa-chevron-down sidepanel__down"></i>
      </a>
      <ul *ngIf="isOpenMenu == 'components'">
        <li>
          <a routerLinkActive="active" [routerLink]="buttonsUrl">Buttons</a>
        </li>
        <li>
          <a routerLinkActive="active" [routerLink]="tablesUrl">Tables</a>
        </li>
        <li>
          <a routerLinkActive="active" [routerLink]="modalUrl">Modals</a>
        </li>
        <li>
          <a routerLinkActive="active" [routerLink]="accordionUrl">Accordion</a>
        </li>
        <li>
          <a routerLinkActive="active" [routerLink]="tabsUrl">Tabs</a>
        </li>
        <li>
          <a routerLinkActive="active" [routerLink]="stepperUrl">Stepper</a>
        </li>
      </ul>
    </li>
    <li>
      <a [ngClass]="{'sidepanel__open' : isOpenMenu == 'forms'}" (click)="onOpenMenu('forms')">
        Forms <i class="fa fa-chevron-down sidepanel__down"></i>
      </a>
      <ul *ngIf="isOpenMenu == 'forms'">
        <li>
          <a routerLinkActive="active" [routerLink]="inputsUrl">Inputs</a>
        </li>
        <li>
          <a routerLinkActive="active" [routerLink]="inputsFilesUrl">Inputs Files</a>
        </li>
        <li>
          <a routerLinkActive="active" [routerLink]="selectUrl">Select</a>
        </li>
        <li>
          <a routerLinkActive="active" [routerLink]="textareaUrl">Textarea</a>
        </li>
        <li>
          <a routerLinkActive="active" [routerLink]="checkboxUrl">Checkbox</a>
        </li>
        <li>
          <a routerLinkActive="active" [routerLink]="radioUrl">Radio</a>
        </li>
        <li>
          <a routerLinkActive="active" [routerLink]="switchUrl">Switch</a>
        </li>
      </ul>
    </li>
    <li>
      <a [ngClass]="{'sidepanel__open' : isOpenMenu == 'navigation'}" (click)="onOpenMenu('navigation')">
        Navigation <i class="fa fa-chevron-down sidepanel__down"></i>
      </a>
      <ul *ngIf="isOpenMenu == 'navigation'">
        <li>
          <a routerLinkActive="active" [routerLink]="headerUrl">Header</a>
        </li>
        <li>
          <a routerLinkActive="active" [routerLink]="sidebarUrl">Sidebar</a>
        </li>
        <li>
          <a routerLinkActive="active" [routerLink]="footerUrl">Footer</a>
        </li>
      </ul>
    </li>
    <li>
      <a [ngClass]="{'sidepanel__open' : isOpenMenu == 'utilities'}" (click)="onOpenMenu('utilities')">
        <i class="fa fa-gem"></i>Utilities <i class="fa fa-chevron-down sidepanel__down"></i>
      </a>
      <ul *ngIf="isOpenMenu == 'utilities'">
        <li>
          <a routerLinkActive="active" [routerLink]="bordersUrl">Borders</a>
        </li>
        <li>
          <a routerLinkActive="active" [routerLink]="floatsUrl">Floats</a>
        </li>
        <li>
          <a>Vertical align</a>
        </li>
        <li>
          <a>Text</a>
        </li>
      </ul>
    </li>
    <li>
      <a [ngClass]="{'sidepanel__open' : isOpenMenu == 'pages'}" (click)="onOpenMenu('pages')">
        <i class="fa fa-gem"></i>Pages <i class="fa fa-chevron-down sidepanel__down"></i>
      </a>
      <ul *ngIf="isOpenMenu == 'pages'">
        <li>
          <a routerLinkActive="active" [routerLink]="loginUrl">Login</a>
        </li>
      </ul>
    </li>
  </ul>
</div>

