<table class="table">
  <thead>
  <tr>
    <th width="5%"></th>
    <th width="5%">Id</th>
    <th width="20%">Username</th>
    <th width="25%">Email</th>
    <th width="15%">Country</th>
    <th width="15%">Status</th>
    <th width="15%">Action</th>
  </tr>
  </thead>
</table>
<table class="table table--hover table--expandable">
  <tbody *ngFor="let i of [1,2,3,4]; let i = index">
  <tr [ngClass]="{'table--expandable__open' : isExpandRow === i}" (click)="openRow(i);">
    <td width="5%">
      <i class="fa fa-chevron-down icon-open" [ngClass]="{'icon-close' : isExpandRow == i}"></i>
    </td>
    <td width="5%">
      <div>{{i}}</div>
    </td>
    <td width="20%">
      <div>Shah</div>
    </td>
    <td width="25%">
      <div>shahvishal@yahoo.co.in</div>
    </td>
    <td width="15%">
      <div>India</div>
    </td>
    <td width="15%">
      <span class="green-color">Approved</span>
    </td>
    <td width="15%">
      <a data-toggle="tooltip" title="Edit">
        <i class="fa fa-edit"></i>
      </a>
      <a data-toggle="tooltip" title="Delete">
        <i class="fa fa-trash"></i>
      </a>
    </td>
  </tr>
  <tr *ngIf="isExpandRow === i">
    <div>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
        electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
        Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
        Aldus PageMaker including versions of Lorem Ipsum.
      </p>
    </div>
  </tr>
  </tbody>
</table>
