<table class="table table--searchable table--sorting">
  <thead>
    <tr>
      <th width="10%">Id</th>
      <th width="20%">
        <a (click)="onSorting('username')" [ngClass]="{'sort' : sortKey == 'username'}">
          Username
          <i *ngIf="sortKey == 'username'"
             [ngClass]="{'fa-chevron-up' : isSort, 'fa-chevron-down' : !isSort }"
             class="fa sort-icon"></i>
        </a>
      </th>
      <th width="25%">
        <a (click)="onSorting('email')" [ngClass]="{'sort' : sortKey == 'email'}">
          Email
          <i *ngIf="sortKey == 'email'"
             [ngClass]="{'fa-chevron-up' : isSort, 'fa-chevron-down' : !isSort }"
             class="fa sort-icon"></i>
        </a>
      </th>
      <th width="15%">
        <a (click)="onSorting('country')" [ngClass]="{'sort' : sortKey == 'country'}">
          Country
          <i *ngIf="sortKey == 'country'"
             [ngClass]="{'fa-chevron-up' : isSort, 'fa-chevron-down' : !isSort }"
             class="fa sort-icon"></i>
        </a>
      </th>
      <th width="15%">Status</th>
      <th width="15%">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table--searchable__row">
      <td></td>
      <td>
        <div class="basic-input basic-input-border basic-input-sm">
          <input placeholder="Search..." type="text"/>
        </div>
      </td>
      <td>
        <div class="basic-input basic-input-border basic-input-sm">
          <input placeholder="Search..." type="text"/>
        </div>
      </td>
      <td>
        <div class="basic-input basic-input-border basic-input-sm">
          <input placeholder="Search..." type="text"/>
        </div>
      </td>
      <td>
        <div class="basic-select basic-select-border basic-select-sm">
          <span class="basic-select__bg"></span>
          <select title="State">
            <option disabled selected>Select State</option>
            <option>Gujarat</option>
            <option>Hariyana</option>
          </select>
        </div>
      </td>
      <td></td>
    </tr>
    <tr>
      <td>1</td>
      <td>Shah</td>
      <td>shahvishal@yahoo.co.in</td>
      <td>India</td>
      <td>
        <span class="green-color">Approved</span>
      </td>
      <td>
        <a data-toggle="tooltip" title="Edit">
          <i class="fa fa-edit"></i>
        </a>
        <a data-toggle="tooltip" title="Delete">
          <i class="fa fa-trash"></i>
        </a>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>Shah</td>
      <td>shahvishal@yahoo.co.in</td>
      <td>India</td>
      <td>
        <span class="red-color">Rejected</span>
      </td>
      <td>
        <a data-toggle="tooltip" title="Edit">
          <i class="fa fa-edit"></i>
        </a>
        <a data-toggle="tooltip" title="Delete">
          <i class="fa fa-trash"></i>
        </a>
      </td>
    </tr>
    <tr>
      <td>3</td>
      <td>Shah</td>
      <td>shahvishal@yahoo.co.in</td>
      <td>India</td>
      <td>
        <span class="dark-grey-color">Pending</span>
      </td>
      <td>
        <a data-toggle="tooltip" title="Edit">
          <i class="fa fa-edit"></i>
        </a>
        <a data-toggle="tooltip" title="Delete">
          <i class="fa fa-trash"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>
