<div class="right-section">
  <ul>
    <li><a (click)="onNavigationChange('basic')" [ngClass]="{'active' : type == 'basic'}">Basic sidebar</a></li>
    <li><a (click)="onNavigationChange('dropmenu')" [ngClass]="{'active' : type == 'dropmenu'}">Drop menu sidebar</a>
    </li>
    <li><a (click)="onNavigationChange('hover')" [ngClass]="{'active' : type == 'hover'}">Hover menu sidebar</a></li>
    <li><a (click)="onNavigationChange('icons')" [ngClass]="{'active' : type == 'icons'}">Small sidebar with icons</a>
    </li>
    <li><a (click)="onNavigationChange('toggle')" [ngClass]="{'active' : type == 'toggle'}">Toggle sidebar</a></li>
  </ul>
</div>

<div class="left-section">
  <div *ngIf="type == 'basic'">
    <p>Basic sidebar</p>
    <br>

    <div class="sidebar">
      <ul>
        <li><a class="active"><i class="fa fa-dashboard sidebar__icon"></i> Dashboard</a></li>
        <li><a><i class="fa fa-dashboard sidebar__icon"></i> Country</a></li>
        <li><a><i class="fa fa-dashboard sidebar__icon"></i> State</a></li>
        <li><a><i class="fa fa-dashboard sidebar__icon"></i> City</a></li>
      </ul>
    </div>

    <h3 class="code-lang-type">HTML</h3>
    <div class="code-section">
      <a (click)="onCopyFile(files[0].codeText)" class="copy">Copy</a>
      <div markdown [src]="files[0].filePath"></div>
    </div>

    <h3 class="code-lang-type">Type script</h3>
    <div class="code-section">
      <a (click)="onCopyFile(files[1].codeText)" class="copy">Copy</a>
      <div markdown [src]="files[1].filePath"></div>
    </div>
  </div>

  <div *ngIf="type == 'dropmenu'">
    <p>Drop menu sidebar</p>
    <br>

    <div class="sidebar">
      <ul>
        <li>
          <a><i class="fa fa-dashboard sidebar__icon"></i> Dashboard</a>
        </li>
        <li>
          <a [ngClass]="{'menu-open' : isOpenMenu == 'master'}" (click)="onOpenMenu('master')">
            <i class="fa fa-dashboard sidebar__icon"></i> Masters
            <i class="fa fa-chevron-down sidebar__down"></i>
          </a>
          <ul *ngIf="isOpenMenu == 'master'">
            <li><a>Country</a></li>
            <li><a>State</a></li>
            <li><a>City</a></li>
          </ul>
        </li>
        <li>
          <a><i class="fa fa-dashboard sidebar__icon"></i> Support</a>
        </li>
        <li>
          <a><i class="fa fa-dashboard sidebar__icon"></i> Logs</a>
        </li>
        <li>
          <a [ngClass]="{'menu-open' : isOpenMenu == 'logs'}" (click)="onOpenMenu('logs')">
            <i class="fa fa-dashboard sidebar__icon"></i>
            <i class="fa fa-chevron-down sidebar__down"></i>
            Reports
          </a>
          <ul *ngIf="isOpenMenu == 'logs'">
            <li><a>Users</a></li>
            <li><a>Admins</a></li>
            <li><a>Super Admins</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <h3 class="code-lang-type">HTML</h3>
    <div class="code-section">
      <a (click)="onCopyFile(files[2].codeText)" class="copy">Copy</a>
      <div markdown [src]="files[2].filePath"></div>
    </div>

    <h3 class="code-lang-type">Type script</h3>
    <div class="code-section">
      <a (click)="onCopyFile(files[3].codeText)" class="copy">Copy</a>
      <div markdown [src]="files[3].filePath"></div>
    </div>

  </div>

  <div *ngIf="type == 'hover'">
    <p>Hover menu sidebar</p>
    <br>

    <div (mouseenter)="onSidebarHover()" (mouseleave)="hideMenu()" class="sidebar sidebar--hover"
         [ngClass]="{'sidebar--move' : isSidebarMove}">
      <ul>
        <li>
          <a (click)="hideMenu()">
            <span class="sidebar__title sidebar--hover__title">Dashboard</span>
            <span class="sidebar--hover__small-menu">
              <i class="fa fa-dashboard sidebar__icon sidebar--hover__icon"></i>
            </span>
          </a>
        </li>
        <li>
          <a (click)="hideMenu()">
            <span class="sidebar__title sidebar--hover__title">Users</span>
            <span class="sidebar--hover__small-menu">
              <i class="fa fa-user sidebar__icon sidebar--hover__icon"></i>
            </span>
          </a>
        </li>
        <li>
          <a (click)="hideMenu()">
            <span class="sidebar__title sidebar--hover__title">Reports</span>
            <span class="sidebar--hover__small-menu">
              <i class="fa fa-list sidebar__icon sidebar--hover__icon"></i>
            </span>
          </a>
        </li>
      </ul>
    </div>

    <h3 class="code-lang-type">HTML</h3>
    <div class="code-section">
      <a (click)="onCopyFile(files[4].codeText)" class="copy">Copy</a>
      <div markdown [src]="files[4].filePath"></div>
    </div>

    <h3 class="code-lang-type">Type script</h3>
    <div class="code-section">
      <a (click)="onCopyFile(files[5].codeText)" class="copy">Copy</a>
      <div markdown [src]="files[5].filePath"></div>
    </div>
  </div>

  <div *ngIf="type == 'icons'">
    <p>Small sidebar with icons</p>
    <br>

    <a (click)="menuToggle();" class="sidebar-toggle">
      <i class="fa fa-bars"></i>
    </a>
    <div class="sidebar sidebar--icons" [ngClass]="{'sidebar--small' : isExpand}">
      <ul>
        <li>
          <a class="active"><i class="fa fa-dashboard sidebar__icon"></i>
            <span *ngIf="!isExpand">Dashboard</span>
          </a>
        </li>
        <li>
          <a><i class="fa fa-dashboard sidebar__icon"></i>
            <span *ngIf="!isExpand">Country</span>
          </a>
        </li>
        <li>
          <a><i class="fa fa-dashboard sidebar__icon"></i>
            <span *ngIf="!isExpand">State</span>
          </a>
        </li>
        <li>
          <a><i class="fa fa-dashboard sidebar__icon"></i>
            <span *ngIf="!isExpand">City</span>
          </a>
        </li>
      </ul>
    </div>

    <h3 class="code-lang-type">HTML</h3>
    <div class="code-section">
      <a (click)="onCopyFile(files[6].codeText)" class="copy">Copy</a>
      <div markdown [src]="files[6].filePath"></div>
    </div>

    <h3 class="code-lang-type">Type script</h3>
    <div class="code-section">
      <a (click)="onCopyFile(files[7].codeText)" class="copy">Copy</a>
      <div markdown [src]="files[7].filePath"></div>
    </div>
  </div>

  <div *ngIf="type == 'toggle'">
    <p>Toggle sidebar</p>
    <br>

    <a (click)="menuToggle();" class="sidebar-toggle">
      <i class="fa fa-bars"></i>
    </a>
    <div class="sidebar" [ngClass]="{'sidebar--hide' : isExpand}">
      <ul>
        <li>
          <a><i class="fa fa-dashboard sidebar__icon"></i> Dashboard</a>
        </li>
        <li>
          <a [ngClass]="{'menu-open' : isOpenMenu == 'master'}" (click)="onOpenMenu('master')">
            <i class="fa fa-dashboard sidebar__icon"></i> Masters
            <i class="fa fa-chevron-down sidebar__down"></i>
          </a>
          <ul *ngIf="isOpenMenu == 'master'">
            <li><a>Country</a></li>
            <li><a>State</a></li>
            <li><a>City</a></li>
          </ul>
        </li>
        <li>
          <a><i class="fa fa-dashboard sidebar__icon"></i> Support</a>
        </li>
        <li>
          <a><i class="fa fa-dashboard sidebar__icon"></i> Logs</a>
        </li>
        <li>
          <a [ngClass]="{'menu-open' : isOpenMenu == 'logs'}" (click)="onOpenMenu('logs')">
            <i class="fa fa-dashboard sidebar__icon"></i>
            <i class="fa fa-chevron-down sidebar__down"></i>
            Reports
          </a>
          <ul *ngIf="isOpenMenu == 'logs'">
            <li><a>Users</a></li>
            <li><a>Admins</a></li>
            <li><a>Super Admins</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <h3 class="code-lang-type">HTML</h3>
    <div class="code-section">
      <a (click)="onCopyFile(files[8].codeText)" class="copy">Copy</a>
      <div markdown [src]="files[8].filePath"></div>
    </div>

    <h3 class="code-lang-type">Type script</h3>
    <div class="code-section">
      <a (click)="onCopyFile(files[7].codeText)" class="copy">Copy</a>
      <div markdown [src]="files[7].filePath"></div>
    </div>

  </div>
</div>

<div *ngIf="isCopied" class="copied-toast">
  <p>Code Copied!!!</p>
</div>
