.login-box {
  @include box-shadow;
  @include position-values(fixed, 50%, 50%, auto, 40rem, $white-color);
  transform: translate(-50%, -50%);
  padding: 2rem;

  &__image {
    text-align: center;
    margin-bottom: 1rem;
    img {
      width: 15rem;
    }
  }

  &__body {

  }

  &__footer {
    text-align: center;
    div {
      &:first-child {
        margin-bottom: 1.5rem;
      }

      &:last-child {
        a {
          margin-right: 1rem;
        }
      }
    }
  }

  /*color bg*/
  &--color {
    @include login-box($white-color, dark-color($secondary-color, 35%));
  }
}
