<div class="right-section">
  <ul>
    <li><a (click)="onNavigationChange('basic')" [ngClass]="{'active' : type == 'basic'}">Basic stepper</a></li>
  </ul>
</div>

<div class="left-section">
  <div *ngIf="type == 'basic'">

    <div class="stepper">
      <div class="stepper__head">
        <ul>
          <li [ngClass]="{'active' : (activeView === enumView.STEP_TWO) || (activeView === enumView.STEP_THREE)}">
            <a (click)="onStepperChange(enumView.STEP_ONE)"
               [ngClass]="{'active' : activeView === enumView.STEP_ONE}">
              <i class="fa fa-user stepper__head__icon"></i>
              Step one
            </a>
          </li>
          <li [ngClass]="{'active' : activeView === enumView.STEP_THREE}">
            <a (click)="onStepperChange(enumView.STEP_TWO)"
               [ngClass]="{'active' : activeView === enumView.STEP_TWO}">
              <i class="fa fa-user stepper__head__icon"></i>
              Step two
            </a>
          </li>
          <li>
            <a (click)="onStepperChange(enumView.STEP_THREE)"
               [ngClass]="{'active' : activeView === enumView.STEP_THREE}">
              <i class="fa fa-user stepper__head__icon"></i>
              Step three
            </a>
          </li>
        </ul>
      </div>
      <div class="stepper__body MT20 text-center">
        <div *ngIf="activeView === enumView.STEP_ONE">
          <button (click)="onStepperChange(enumView.STEP_TWO)" class="btn btn-primary" type="button">Next</button>
        </div>
        <div *ngIf="activeView === enumView.STEP_TWO">
          <button (click)="onStepperChange(enumView.STEP_ONE)" class="btn btn-secondary" type="button">Previous</button>
          <button (click)="onStepperChange(enumView.STEP_THREE)" class="btn btn-primary" type="button">Next</button>
        </div>
        <div *ngIf="activeView === enumView.STEP_THREE">
          <button (click)="onStepperChange(enumView.STEP_TWO)" class="btn btn-secondary" type="button">Previous</button>
          <button class="btn btn-primary" type="button">Submit</button>
        </div>
      </div>
    </div>

    <h3 class="code-lang-type">HTML</h3>
    <div class="code-section">
      <a (click)="onCopyFile(files[0].codeText)" class="copy">Copy</a>
      <div markdown [src]="files[0].filePath"></div>
    </div>

    <h3 class="code-lang-type">Type script</h3>
    <div class="code-section">
      <a (click)="onCopyFile(files[1].codeText)" class="copy">Copy</a>
      <div markdown [src]="files[1].filePath"></div>
    </div>
  </div>
</div>

<div *ngIf="isCopied" class="copied-toast">
  <p>Code Copied!!!</p>
</div>
