<div class="right-section">
  <ul>
    <li><a (click)="onNavigationChange('basic')" [ngClass]="{'active' : type == 'basic'}">Left</a></li>
    <li><a (click)="onNavigationChange('right')" [ngClass]="{'active' : type == 'right'}">Right</a></li>
    <li><a (click)="onNavigationChange('none')" [ngClass]="{'active' : type == 'none'}">None</a></li>
  </ul>
</div>

<div class="left-section">
  <div *ngIf="type == 'basic'">
    <p>Float left</p>
    <br>

    <div class="left">
      <i>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</i>
    </div>

    <div class="clearfix"></div>

    <div class="code-section">
      <a (click)="onCopy('left')" class="copy">Copy</a>
      <div [innerHTML]="getHtmlCode('left') | language : 'html' | markdown"></div>
    </div>

    <div class="sm-left">
      <i>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</i>
    </div>

    <div class="clearfix"></div>

    <div class="code-section">
      <a (click)="onCopy('sm-left')" class="copy">Copy</a>
      <div [innerHTML]="getHtmlCode('sm-left') | language : 'html' | markdown"></div>
    </div>

    <div class="md-left">
      <i>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</i>
    </div>

    <div class="clearfix"></div>

    <div class="code-section">
      <a (click)="onCopy('md-left')" class="copy">Copy</a>
      <div [innerHTML]="getHtmlCode('md-left') | language : 'html' | markdown"></div>
    </div>

  </div>

  <div *ngIf="type == 'right'">
    <p>Float right</p>
    <br>

    <div class="right">
      <i>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</i>
    </div>

    <div class="clearfix"></div>

    <div class="code-section">
      <a (click)="onCopy('right')" class="copy">Copy</a>
      <div [innerHTML]="getHtmlCode('right') | language : 'html' | markdown"></div>
    </div>

    <div class="sm-right">
      <i>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</i>
    </div>

    <div class="clearfix"></div>

    <div class="code-section">
      <a (click)="onCopy('sm-right')" class="copy">Copy</a>
      <div [innerHTML]="getHtmlCode('sm-right') | language : 'html' | markdown"></div>
    </div>

    <div class="md-right">
      <i>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</i>
    </div>

    <div class="clearfix"></div>

    <div class="code-section">
      <a (click)="onCopy('md-right')" class="copy">Copy</a>
      <div [innerHTML]="getHtmlCode('md-right') | language : 'html' | markdown"></div>
    </div>
  </div>

  <div *ngIf="type == 'none'">
    <p>Float none</p>
    <br>

    <div class="none">
      <i>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</i>
    </div>

    <div class="clearfix"></div>

    <div class="code-section">
      <a (click)="onCopy('none')" class="copy">Copy</a>
      <div [innerHTML]="getHtmlCode('none') | language : 'html' | markdown"></div>
    </div>

    <div class="sm-none">
      <i>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</i>
    </div>

    <div class="clearfix"></div>

    <div class="code-section">
      <a (click)="onCopy('sm-none')" class="copy">Copy</a>
      <div [innerHTML]="getHtmlCode('sm-none') | language : 'html' | markdown"></div>
    </div>

    <div class="md-none">
      <i>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</i>
    </div>

    <div class="clearfix"></div>

    <div class="code-section">
      <a (click)="onCopy('md-none')" class="copy">Copy</a>
      <div [innerHTML]="getHtmlCode('md-none') | language : 'html' | markdown"></div>
    </div>
  </div>
</div>

<div *ngIf="isCopied" class="copied-toast">
  <p>Code Copied!!!</p>
</div>
