<div class="right-section">
  <ul>
    <li><a (click)="onNavigationChange('basic')" [ngClass]="{'active' : type == 'basic'}">Basic radio</a></li>
    <li><a (click)="onNavigationChange('basicNoLabel')" [ngClass]="{'active' : type == 'basicNoLabel'}">Basic without label</a></li>
    <li><a (click)="onNavigationChange('horizontal')" [ngClass]="{'active' : type == 'horizontal'}">Horizontal label</a></li>
  </ul>
</div>

<div class="left-section">
  <div *ngIf="type == 'basic'">
    <p>Basic radio</p>
    <br>

<div class="radio-group">
  <label class="block">Type</label>
  <ul>
    <li>
      <input type="radio" id="mobile" name="type" checked>
      <label for="mobile">
        Mobile
        <span></span>
      </label>
    </li>
    <li>
      <input type="radio" id="email" name="type">
      <label for="email">Email
        <span></span>
      </label>
    </li>
  </ul>
</div>

  <div class="code-section">
    <a (click)="onCopySingle(querySelector('radio-group'))" class="copy">Copy</a>
    <div [innerHTML]="querySelector('radio-group') | language : 'html' | markdown"></div>
  </div>
</div>

  <div *ngIf="type == 'basicNoLabel'">
    <p>Basic radio without label</p>
    <br>

<ul class="radio-group">
  <li>
    <input type="radio" id="male" name="type" checked>
    <label for="male">
      Male
      <span></span>
    </label>
  </li>
  <li>
    <input type="radio" id="female" name="type">
    <label for="female">Female
      <span></span>
    </label>
  </li>
</ul>

    <div class="code-section">
      <a (click)="onCopySingle(querySelector('radio-group'))" class="copy">Copy</a>
      <div [innerHTML]="querySelector('radio-group') | language : 'html' | markdown"></div>
    </div>
  </div>

  <div *ngIf="type == 'horizontal'">
    <p>Horizontal label</p>
    <br>

<div class="radio-group horizontal-group-radio">
  <label class="horizontal-group-radio__label">Board</label>
  <ul>
    <li>
      <input type="radio" id="ssc" name="type" checked>
      <label for="ssc">
        SSC
        <span></span>
      </label>
    </li>
    <li>
      <input type="radio" id="hsc" name="type">
      <label for="hsc">HSC
        <span></span>
      </label>
    </li>
  </ul>
</div>

    <div class="code-section">
      <a (click)="onCopySingle(querySelector('horizontal-group-radio'))" class="copy">Copy</a>
      <div [innerHTML]="querySelector('horizontal-group-radio') | language : 'html' | markdown"></div>
    </div>
  </div>
</div>

<div *ngIf="isCopied" class="copied-toast">
  <p>Code Copied!!!</p>
</div>
