<button type="button" class="btn btn-primary" (click)="onShowBasicModal('largeModal')">Open Modal</button>

<div *ngIf="largeModal" id="largeModal" class="modal modal--large">

  <div class="modal__close">
    <a (click)="onCloseModal()">
      <i class="fa fa-close"></i>
    </a>
  </div>

  <div class="modal__header">
    <h3>Modal title</h3>
  </div>

  <div class="modal__body">
    <p>Lorem Ipsum</p>
  </div>

  <div class="modal__footer">
    <div class="text-right">
      <button (click)="onCloseModal()" type="button" class="btn btn-cancel">Cancel</button>
      <button Focus type="button" class="btn btn-primary">Save</button>
    </div>
  </div>

</div>

<div (click)="onCloseModal()" *ngIf="largeModal" class="modal-layer"></div>
