<div class="right-section">
  <ul>
    <li>
      <a (click)="onNavigationChange('basic')" [ngClass]="{'active' : type == 'basic'}">Basic with label</a>
    </li>
    <li>
      <a (click)="onNavigationChange('basicNoLabel')" [ngClass]="{'active' : type == 'basicNoLabel'}">Basic without
        label</a>
    </li>
    <li>
      <a (click)="onNavigationChange('iconPrefixes')" [ngClass]="{'active' : type == 'iconPrefixes'}">Icon Prefixes</a>
    </li>
    <li>
      <a (click)="onNavigationChange('horizontal')" [ngClass]="{'active' : type == 'horizontal'}">Horizontal label</a>
    </li>
  </ul>
</div>

<div class="left-section">

  <div *ngIf="type == 'basic'">
    <p>Basic select with label</p>
    <br>
    <div *ngFor="let selects of selectsArray;">
<div class="{{getClass(selects)}}">
  <span class="basic-select__bg"></span>
  <select>
    <option disabled selected>Select State</option>
    <option>Gujarat</option>
    <option>Hariyana</option>
  </select>
  <label>State</label>
</div>
      <div class="code-section">
        <a (click)="onCopy(selects.className)" class="copy">Copy</a>
        <div [innerHTML]="getHtmlCode(selects.className) | language : 'html' | markdown"></div>
      </div>
    </div>
  </div>

  <div *ngIf="type == 'basicNoLabel'">
    <p>Basic select without label</p>
    <br>

    <div *ngFor="let selects of selectsArray;">
<div class="{{getClass(selects)}} no-label">
  <span class="basic-select__bg"></span>
  <select>
    <option disabled selected>Select State</option>
    <option>Gujarat</option>
    <option>Hariyana</option>
  </select>
</div>
      <div class="code-section">
        <a (click)="onCopy(selects.className)" class="copy">Copy</a>
        <div [innerHTML]="getHtmlCode(selects.className) | language : 'html' | markdown"></div>
      </div>
    </div>
  </div>

  <div *ngIf="type == 'iconPrefixes'">
    <p>Icon prefixes</p>
    <br>
    <div *ngFor="let selects of selectsArray;">
<div class="{{getClass(selects)}} icons-group">
  <span class="basic-select__bg"></span>
  <i class="fa fa-list-alt"></i>
  <select>
    <option disabled selected>Select State</option>
    <option>Gujarat</option>
    <option>Hariyana</option>
  </select>
  <label>State</label>
</div>
      <div class="code-section">
        <a (click)="onCopy(selects.className)" class="copy">Copy</a>
        <div [innerHTML]="getHtmlCode(selects.className) | language : 'html' | markdown"></div>
      </div>
    </div>
  </div>

  <div *ngIf="type == 'horizontal'">
    <p>Horizontal input with label</p>
    <br>
    <div *ngFor="let selects of selectsArray;">
<div class="{{getClass(selects)}} horizontal-group">
  <span class="basic-select__bg"></span>
  <label>State</label>
  <select>
    <option disabled selected>Select State</option>
    <option>Gujarat</option>
    <option>Hariyana</option>
  </select>
</div>
      <div class="code-section">
        <a (click)="onCopy(selects.className)" class="copy">Copy</a>
        <div [innerHTML]="getHtmlCode(selects.className) | language : 'html' | markdown"></div>
      </div>
    </div>
  </div>
</div>


<div *ngIf="isCopied" class="copied-toast">
  <p>Code Copied!!!</p>
</div>
