.footer {
  padding: 1rem 2rem;
  bottom: 0;
  @include position-values(fixed, auto, 0, auto, 100%, $primary-color);

  a, p {
    color: $white-color;
  }

  li {
    a {
      &:hover {
        color: dark-color($white-color, 10%);
      }

      &.active {
        font-weight: 600;
      }
    }
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  /*white footer*/
  &--white {
    background: $white-color;
    border-top: .1rem solid $light-grey-color-1;

    a, p {
      color: $primary-color;
    }

    li{
      a {
        &:hover {
          color: dark-color($primary-color, 30%);
        }
      }
    }
  }
}
