.sidebar {
  @include transition;
  @include position-values(fixed, $header-size, 0, calc(100% - 6rem), $sidebar-size, $primary-color);
  overflow-x: hidden;
  overflow-y: auto;

  li {
    display: block;
    position: relative;
    a {
      color: $white-color;

      display: block;
      padding: 1rem;
      font-size: 1.6rem;
      white-space: nowrap;
      &:hover {
        background: light-color($primary-color, 10%);
      }
      &.active {
        background: dark-color($primary-color, 15%);
      }
      &.menu-open {
        background: dark-color($primary-color, 10%);
        .sidebar__down {
          @include icon-rotate;
        }
      }
    }

    ul {
      li {
        a {
          padding: .5rem .5rem .5rem 4rem;
          font-size: 1.4rem;
        }
      }
    }
  }

  &__icon {
    margin-right: 1rem;
  }

  &__down {
    color: $white-color;

    @include transition;
    position: absolute;
    right: 1rem;
    top: 1.6rem;
    font-size: 1.2rem !important;
  }

  /*hover sidebar*/
  &--hover {
    left: -16rem;
    &__icon {
      margin-right: 0;
    }
    &__title {
      margin-left: .5rem;
    }
    &__small-menu {
      float: right;
      width: 4.2rem;
      display: inline-block;
      text-align: center;
    }
  }

  /*small sidebar*/
  &--small {
    width: 6.5rem;
  }
  &--icons {
    li {
      a {
        padding: 1rem 2rem;
      }
    }
  }

  /*hide sidebar*/
  &--hide {
    left: -$sidebar-size;
  }
}

.sidebar--move {
  left: 0;
}

.sidebar-toggle{

}
