<div class="right-section">
  <ul>
    <li><a (click)="onNavigationChange('basic')" [ngClass]="{'active' : type == 'basic'}">Basic Buttons</a></li>
    <li><a (click)="onNavigationChange('outline')" [ngClass]="{'active' : type == 'outline'}">Outline Buttons</a></li>
    <li><a (click)="onNavigationChange('rounded')" [ngClass]="{'active' : type == 'rounded'}">Rounded Buttons</a></li>
    <li><a (click)="onNavigationChange('roundedOutline')" [ngClass]="{'active' : type == 'roundedOutline'}">Rounded
      Outline Buttons</a></li>
    <li><a (click)="onNavigationChange('flat')" [ngClass]="{'active' : type == 'flat'}">Flat Button</a></li>
    <li><a (click)="onNavigationChange('gradient')" [ngClass]="{'active' : type == 'gradient'}">Gradient Button</a></li>
    <li><a (click)="onNavigationChange('sizes')" [ngClass]="{'active' : type == 'sizes'}">Button sizes</a></li>
    <li><a (click)="onNavigationChange('block')" [ngClass]="{'active' : type == 'block'}">Block Button</a></li>
    <li><a (click)="onNavigationChange('icons')" [ngClass]="{'active' : type == 'icons'}">Button with icons</a></li>
    <li><a (click)="onNavigationChange('animation')" [ngClass]="{'active' : type == 'animation'}">Button with
      animation</a></li>
    <li><a (click)="onNavigationChange('loading')" [ngClass]="{'active' : type == 'loading'}">Button with loading</a>
    </li>
  </ul>
</div>

<div class="left-section">
  <div *ngIf="type == 'basic'">
    <p>Basic Buttons</p>
    <br>

    <div *ngFor="let button of buttonArray;let i =index;">
      <button type="button" class="btn {{button.className}}">{{button.title}}</button>

      <div class="code-section">
        <a (click)="onCopy(button.className)" class="copy">Copy</a>
        <div [innerHTML]="getHtmlCode(button.className) | language : 'html' | markdown"></div>
      </div>
    </div>
  </div>

  <div *ngIf="type == 'outline'">
    <p>Outline Buttons</p>
    <br>

    <div *ngFor="let button of buttonArray;let i =index;">
      <button type="button" class="btn {{button.classNameOutline}}">{{button.title}}</button>
      <div class="code-section">
        <a (click)="onCopy(button.classNameOutline)" class="copy">Copy</a>
        <div [innerHTML]="getHtmlCode(button.classNameOutline) | language : 'html' | markdown"></div>
      </div>
    </div>
  </div>

  <div *ngIf="type == 'rounded'">
    <p>Rounded Buttons</p>
    <br>

    <div *ngFor="let button of buttonArray;let i =index;">
      <button type="button" class="btn btn-rounded {{button.className}}">{{button.title}}</button>
      <div class="code-section">
        <a (click)="onCopy(button.className)" class="copy">Copy</a>
        <div [innerHTML]="getHtmlCode(button.className) | language : 'html' | markdown"></div>
      </div>
    </div>
  </div>

  <div *ngIf="type == 'roundedOutline'">
    <p>Rounded Outline Buttons</p>
    <br>
    <div *ngFor="let button of buttonArray;let i =index;">
      <button type="button" class="btn btn-rounded {{button.classNameOutline}}">{{button.title}}</button>
      <div class="code-section">
        <a (click)="onCopy(button.classNameOutline)" class="copy">Copy</a>
        <div [innerHTML]="getHtmlCode(button.classNameOutline) | language : 'html' | markdown"></div>
      </div>
    </div>
  </div>

  <div *ngIf="type == 'flat'">
    <p>Flat Button</p>
    <br>

    <button type="button" class="btn btn-flat">Click me</button>
    <div class="code-section">
      <a (click)="onCopySingle(querySelector('btn-flat'))" class="copy">Copy</a>
      <div [innerHTML]="querySelector('btn-flat') | language : 'html' | markdown"></div>
    </div>
  </div>

  <div *ngIf="type == 'gradient'">
    <p>Gradient Button</p>
    <br>

    <button type="button" class="btn btn-gradient">Click me</button>
    <div class="code-section">
      <a (click)="onCopySingle(querySelector('btn-gradient'))" class="copy">Copy</a>
      <div [innerHTML]="querySelector('btn-gradient') | language : 'html' | markdown"></div>
    </div>
  </div>

  <div *ngIf="type == 'sizes'">
    <p>Button sizes</p>
    <br>

    <div *ngFor="let sizeButton of sizeButtonArray;let i =index;">
      <button type="button" class="btn btn-primary {{sizeButton.className}}">{{sizeButton.title}}</button>
      <div class="code-section">
        <a (click)="onCopy(sizeButton.className)" class="copy">Copy</a>
        <div [innerHTML]="getHtmlCode(sizeButton.className) | language : 'html' | markdown"></div>
      </div>
    </div>
  </div>

  <div *ngIf="type == 'block'">
    <p>Block Button</p>
    <br>

    <button type="button" class="btn btn-primary btn-block">Click me</button>
    <div class="code-section">
      <a (click)="onCopySingle(querySelector('btn-block'))" class="copy">Copy</a>
      <div [innerHTML]="querySelector('btn-block') | language : 'html' | markdown"></div>
    </div>
  </div>

  <div *ngIf="type == 'icons'">
    <p>Button with icons</p>
    <br>

    <div *ngFor="let iconButton of iconButtonArray;let i =index;">
<button type="button" class="btn {{iconButton.basicClass}} btn-icons">
  <i class="fa {{iconButton.iconClassName}}"></i> {{iconButton.title}}
</button>
      <div class="code-section">
        <a (click)="onCopy(iconButton.basicClass)" class="copy">Copy</a>
        <div [innerHTML]="getHtmlCode(iconButton.basicClass) | language : 'html' | markdown"></div>
      </div>
    </div>
  </div>

  <div *ngIf="type == 'animation'">
    <p>Button with animation</p>
    <br>

    <div *ngFor="let animationButton of iconAnimationArray;let i =index;">
<button type="button" class="btn {{animationButton.className}} btn-animation-icons"> {{animationButton.title}}
  <i class="fa {{animationButton.iconClassName}}"></i>
</button>
      <div class="code-section">
        <a (click)="onCopy(animationButton.className)" class="copy">Copy</a>
        <div [innerHTML]="getHtmlCode(animationButton.className) | language : 'html' | markdown"></div>
      </div>
    </div>
  </div>

  <div *ngIf="type == 'loading'">
    <p>Button with loading</p>
    <br>

    <div *ngFor="let loadingButton of loadingButtonArray;let i =index;">
<button type="button" class="btn {{loadingButton.className}} btn-icons capitalize">
  <i class="fa {{loadingButton.iconClassName}} fa-spin"></i> {{loadingButton.title}}
</button>
      <div class="code-section">
        <a (click)="onCopy(loadingButton.className)" class="copy">Copy</a>
        <div [innerHTML]="getHtmlCode(loadingButton.className) | language : 'html' | markdown"></div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isCopied" class="copied-toast">
  <p>Code Copied!!!</p>
</div>
