<div class="right-section">
  <ul>
    <li><a (click)="onNavigationChange('basic')" [ngClass]="{'active' : type == 'basic'}">Table Basic</a></li>
    <li><a (click)="onNavigationChange('noBordered')" [ngClass]="{'active' : type == 'noBordered'}">Table borderless</a>
    </li>
    <li><a (click)="onNavigationChange('bordered')" [ngClass]="{'active' : type == 'bordered'}">Table Bordered</a></li>
    <li><a (click)="onNavigationChange('thead')" [ngClass]="{'active' : type == 'thead'}">Table with thead</a></li>
    <li><a (click)="onNavigationChange('striped')" [ngClass]="{'active' : type == 'striped'}">Table Striped</a></li>
    <li><a (click)="onNavigationChange('stripedBorder')" [ngClass]="{'active' : type == 'stripedBorder'}">Table striped
      with border</a></li>
    <li><a (click)="onNavigationChange('center')" [ngClass]="{'active' : type == 'center'}">Table center</a></li>
    <li><a (click)="onNavigationChange('hover')" [ngClass]="{'active' : type == 'hover'}">Hoverable row</a></li>
    <li><a (click)="onNavigationChange('searchable')" [ngClass]="{'active' : type == 'searchable'}">Searchable
      column</a></li>
    <li><a (click)="onNavigationChange('sorting')" [ngClass]="{'active' : type == 'sorting'}">Sorting column</a></li>
    <li><a (click)="onNavigationChange('expandable')" [ngClass]="{'active' : type == 'expandable'}">Expandable grid</a>
    </li>
    <li><a (click)="onNavigationChange('horizontalScroll')" [ngClass]="{'active' : type == 'horizontalScroll'}">Horizontal
      scroll</a>
    </li>
  </ul>
</div>

<div class="left-section">
  <div *ngIf="type == 'basic'">
    <p>Basic Table</p>
    <br>

    <table class="table">
      <thead>
      <tr>
        <th width="10%">Id</th>
        <th width="20%">Username</th>
        <th width="25%">Email</th>
        <th width="15%">Country</th>
        <th width="15%">Status</th>
        <th width="15%">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>Shah</td>
        <td>shahvishal@yahoo.co.in</td>
        <td>India</td>
        <td>
          <span class="green-color">Approved</span>
        </td>
        <td>
          <a data-toggle="tooltip" title="Edit">
            <i class="fa fa-edit"></i>
          </a>
          <a data-toggle="tooltip" title="Delete">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>Shah</td>
        <td>shahvishal@yahoo.co.in</td>
        <td>India</td>
        <td>
          <span class="red-color">Rejected</span>
        </td>
        <td>
          <a data-toggle="tooltip" title="Edit">
            <i class="fa fa-edit"></i>
          </a>
          <a data-toggle="tooltip" title="Delete">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>3</td>
        <td>Shah</td>
        <td>shahvishal@yahoo.co.in</td>
        <td>India</td>
        <td>
          <span class="dark-grey-color">Pending</span>
        </td>
        <td>
          <a data-toggle="tooltip" title="Edit">
            <i class="fa fa-edit"></i>
          </a>
          <a data-toggle="tooltip" title="Delete">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="code-section">
      <a (click)="onCopySingle(querySelector('table'))" class="copy">Copy</a>
      <div [innerHTML]="querySelector('table') | language : 'html' | markdown"></div>
    </div>
  </div>

  <div *ngIf="type == 'noBordered'">
    <p>Table without border</p>
    <br>

    <table class="table table--no-bordered">
      <thead>
      <tr>
        <th width="10%">Id</th>
        <th width="20%">Username</th>
        <th width="25%">Email</th>
        <th width="15%">Country</th>
        <th width="15%">Status</th>
        <th width="15%">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>Shah</td>
        <td>shahvishal@yahoo.co.in</td>
        <td>India</td>
        <td>
          <span class="green-color">Approved</span>
        </td>
        <td>
          <a data-toggle="tooltip" title="Edit">
            <i class="fa fa-edit"></i>
          </a>
          <a data-toggle="tooltip" title="Delete">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>Shah</td>
        <td>shahvishal@yahoo.co.in</td>
        <td>India</td>
        <td>
          <span class="red-color">Rejected</span>
        </td>
        <td>
          <a data-toggle="tooltip" title="Edit">
            <i class="fa fa-edit"></i>
          </a>
          <a data-toggle="tooltip" title="Delete">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>3</td>
        <td>Shah</td>
        <td>shahvishal@yahoo.co.in</td>
        <td>India</td>
        <td>
          <span class="dark-grey-color">Pending</span>
        </td>
        <td>
          <a data-toggle="tooltip" title="Edit">
            <i class="fa fa-edit"></i>
          </a>
          <a data-toggle="tooltip" title="Delete">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="code-section">
      <a (click)="onCopySingle(querySelector('table--no-bordered'))" class="copy">Copy</a>
      <div [innerHTML]="querySelector('table--no-bordered') | language : 'html' | markdown"></div>
    </div>
  </div>

  <div *ngIf="type == 'bordered'">
    <p>Border Table</p>
    <br>

    <table class="table table--bordered">
      <thead>
      <tr>
        <th width="10%">Id</th>
        <th width="20%">Username</th>
        <th width="25%">Email</th>
        <th width="15%">Country</th>
        <th width="15%">Status</th>
        <th width="15%">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>Shah</td>
        <td>shahvishal@yahoo.co.in</td>
        <td>India</td>
        <td>
          <span class="green-color">Approved</span>
        </td>
        <td>
          <a data-toggle="tooltip" title="Edit">
            <i class="fa fa-edit"></i>
          </a>
          <a data-toggle="tooltip" title="Delete">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>Shah</td>
        <td>shahvishal@yahoo.co.in</td>
        <td>India</td>
        <td>
          <span class="red-color">Rejected</span>
        </td>
        <td>
          <a data-toggle="tooltip" title="Edit">
            <i class="fa fa-edit"></i>
          </a>
          <a data-toggle="tooltip" title="Delete">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>3</td>
        <td>Shah</td>
        <td>shahvishal@yahoo.co.in</td>
        <td>India</td>
        <td>
          <span class="dark-grey-color">Pending</span>
        </td>
        <td>
          <a data-toggle="tooltip" title="Edit">
            <i class="fa fa-edit"></i>
          </a>
          <a data-toggle="tooltip" title="Delete">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="code-section">
      <a (click)="onCopySingle(querySelector('table--bordered'))" class="copy">Copy</a>
      <div [innerHTML]="querySelector('table--bordered') | language : 'html' | markdown"></div>
    </div>
  </div>

  <div *ngIf="type == 'thead'">
    <p>Thead options Table</p>
    <br>

    <table class="table table--head">
      <thead>
      <tr>
        <th width="10%">Id</th>
        <th width="20%">Username</th>
        <th width="25%">Email</th>
        <th width="15%">Country</th>
        <th width="15%">Status</th>
        <th width="15%">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>Shah</td>
        <td>shahvishal@yahoo.co.in</td>
        <td>India</td>
        <td>
          <span class="green-color">Approved</span>
        </td>
        <td>
          <a data-toggle="tooltip" title="Edit">
            <i class="fa fa-edit"></i>
          </a>
          <a data-toggle="tooltip" title="Delete">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>Shah</td>
        <td>shahvishal@yahoo.co.in</td>
        <td>India</td>
        <td>
          <span class="red-color">Rejected</span>
        </td>
        <td>
          <a data-toggle="tooltip" title="Edit">
            <i class="fa fa-edit"></i>
          </a>
          <a data-toggle="tooltip" title="Delete">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>3</td>
        <td>Shah</td>
        <td>shahvishal@yahoo.co.in</td>
        <td>India</td>
        <td>
          <span class="dark-grey-color">Pending</span>
        </td>
        <td>
          <a data-toggle="tooltip" title="Edit">
            <i class="fa fa-edit"></i>
          </a>
          <a data-toggle="tooltip" title="Delete">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="code-section">
      <a (click)="onCopySingle(querySelector('table--head'))" class="copy">Copy</a>
      <div [innerHTML]="querySelector('table--head') | language : 'html' | markdown"></div>
    </div>
  </div>

  <div *ngIf="type == 'striped'">
    <p>Striped Table</p>
    <br>

    <table class="table table--striped table--striped-red">
      <thead>
      <tr>
        <th width="10%">Id</th>
        <th width="20%">Username</th>
        <th width="25%">Email</th>
        <th width="15%">Country</th>
        <th width="15%">Status</th>
        <th width="15%">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>Shah</td>
        <td>shahvishal@yahoo.co.in</td>
        <td>India</td>
        <td>
          <span class="green-color">Approved</span>
        </td>
        <td>
          <a data-toggle="tooltip" title="Edit">
            <i class="fa fa-edit"></i>
          </a>
          <a data-toggle="tooltip" title="Delete">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>Shah</td>
        <td>shahvishal@yahoo.co.in</td>
        <td>India</td>
        <td>
          <span class="red-color">Rejected</span>
        </td>
        <td>
          <a data-toggle="tooltip" title="Edit">
            <i class="fa fa-edit"></i>
          </a>
          <a data-toggle="tooltip" title="Delete">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>3</td>
        <td>Shah</td>
        <td>shahvishal@yahoo.co.in</td>
        <td>India</td>
        <td>
          <span class="dark-grey-color">Pending</span>
        </td>
        <td>
          <a data-toggle="tooltip" title="Edit">
            <i class="fa fa-edit"></i>
          </a>
          <a data-toggle="tooltip" title="Delete">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="code-section">
      <a (click)="onCopySingle(querySelector('table--striped'))" class="copy">Copy</a>
      <div [innerHTML]="querySelector('table--striped') | language : 'html' | markdown"></div>
    </div>
  </div>

  <div *ngIf="type == 'stripedBorder'">
    <p>Striped Border Table</p>
    <br>

    <table class="table table--striped table--striped-border">
      <thead>
      <tr>
        <th width="10%">Id</th>
        <th width="20%">Username</th>
        <th width="25%">Email</th>
        <th width="15%">Country</th>
        <th width="15%">Status</th>
        <th width="15%">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>Shah</td>
        <td>shahvishal@yahoo.co.in</td>
        <td>India</td>
        <td>
          <span class="green-color">Approved</span>
        </td>
        <td>
          <a data-toggle="tooltip" title="Edit">
            <i class="fa fa-edit"></i>
          </a>
          <a data-toggle="tooltip" title="Delete">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>Shah</td>
        <td>shahvishal@yahoo.co.in</td>
        <td>India</td>
        <td>
          <span class="red-color">Rejected</span>
        </td>
        <td>
          <a data-toggle="tooltip" title="Edit">
            <i class="fa fa-edit"></i>
          </a>
          <a data-toggle="tooltip" title="Delete">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>3</td>
        <td>Shah</td>
        <td>shahvishal@yahoo.co.in</td>
        <td>India</td>
        <td>
          <span class="dark-grey-color">Pending</span>
        </td>
        <td>
          <a data-toggle="tooltip" title="Edit">
            <i class="fa fa-edit"></i>
          </a>
          <a data-toggle="tooltip" title="Delete">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="code-section">
      <a (click)="onCopySingle(querySelector('table--striped-border'))" class="copy">Copy</a>
      <div [innerHTML]="querySelector('table--striped-border') | language : 'html' | markdown"></div>
    </div>
  </div>

  <div *ngIf="type == 'center'">
    <p>Table center</p>
    <br>

    <table class="table table--center">
      <thead>
      <tr>
        <th width="10%">Id</th>
        <th width="20%">Username</th>
        <th width="25%">Email</th>
        <th width="15%">Country</th>
        <th width="15%">Status</th>
        <th width="15%">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>Shah</td>
        <td>shahvishal@yahoo.co.in</td>
        <td>India</td>
        <td>
          <span class="green-color">Approved</span>
        </td>
        <td>
          <a data-toggle="tooltip" title="Edit">
            <i class="fa fa-edit"></i>
          </a>
          <a data-toggle="tooltip" title="Delete">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>Shah</td>
        <td>shahvishal@yahoo.co.in</td>
        <td>India</td>
        <td>
          <span class="red-color">Rejected</span>
        </td>
        <td>
          <a data-toggle="tooltip" title="Edit">
            <i class="fa fa-edit"></i>
          </a>
          <a data-toggle="tooltip" title="Delete">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>3</td>
        <td>Shah</td>
        <td>shahvishal@yahoo.co.in</td>
        <td>India</td>
        <td>
          <span class="dark-grey-color">Pending</span>
        </td>
        <td>
          <a data-toggle="tooltip" title="Edit">
            <i class="fa fa-edit"></i>
          </a>
          <a data-toggle="tooltip" title="Delete">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="code-section">
      <a (click)="onCopySingle(querySelector('table--center'))" class="copy">Copy</a>
      <div [innerHTML]="querySelector('table--center') | language : 'html' | markdown"></div>
    </div>
  </div>

  <div *ngIf="type == 'hover'">
    <p>Hoverable row</p>
    <br>

    <table class="table table--hover">
      <thead>
      <tr>
        <th width="10%">Id</th>
        <th width="20%">Username</th>
        <th width="25%">Email</th>
        <th width="15%">Country</th>
        <th width="15%">Status</th>
        <th width="15%">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>Shah</td>
        <td>shahvishal@yahoo.co.in</td>
        <td>India</td>
        <td>
          <span class="green-color">Approved</span>
        </td>
        <td>
          <a data-toggle="tooltip" title="Edit">
            <i class="fa fa-edit"></i>
          </a>
          <a data-toggle="tooltip" title="Delete">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>Shah</td>
        <td>shahvishal@yahoo.co.in</td>
        <td>India</td>
        <td>
          <span class="red-color">Rejected</span>
        </td>
        <td>
          <a data-toggle="tooltip" title="Edit">
            <i class="fa fa-edit"></i>
          </a>
          <a data-toggle="tooltip" title="Delete">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>3</td>
        <td>Shah</td>
        <td>shahvishal@yahoo.co.in</td>
        <td>India</td>
        <td>
          <span class="dark-grey-color">Pending</span>
        </td>
        <td>
          <a data-toggle="tooltip" title="Edit">
            <i class="fa fa-edit"></i>
          </a>
          <a data-toggle="tooltip" title="Delete">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="code-section">
      <a (click)="onCopySingle(querySelector('table--hover'))" class="copy">Copy</a>
      <div [innerHTML]="querySelector('table--hover') | language : 'html' | markdown"></div>
    </div>
  </div>

  <div *ngIf="type == 'searchable'">
    <p>Searhable column table</p>
    <br>

    <table class="table table--searchable">
      <thead>
      <tr>
        <th width="10%">Id</th>
        <th width="20%">Username</th>
        <th width="25%">Email</th>
        <th width="15%">Country</th>
        <th width="15%">Status</th>
        <th width="15%">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr class="table--searchable__row">
        <td></td>
        <td>
          <div class="basic-input basic-input-border basic-input-sm">
            <input placeholder="Search..." type="text"/>
          </div>
        </td>
        <td>
          <div class="basic-input basic-input-border basic-input-sm">
            <input placeholder="Search..." type="text"/>
          </div>
        </td>
        <td>
          <div class="basic-input basic-input-border basic-input-sm">
            <input placeholder="Search..." type="text"/>
          </div>
        </td>
        <td>
          <div class="basic-select basic-select-border basic-select-sm">
            <span class="basic-select__bg"></span>
            <select title="State">
              <option disabled selected>Select State</option>
              <option>Gujarat</option>
              <option>Hariyana</option>
            </select>
          </div>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>1</td>
        <td>Shah</td>
        <td>shahvishal@yahoo.co.in</td>
        <td>India</td>
        <td>
          <span class="green-color">Approved</span>
        </td>
        <td>
          <a data-toggle="tooltip" title="Edit">
            <i class="fa fa-edit"></i>
          </a>
          <a data-toggle="tooltip" title="Delete">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>Shah</td>
        <td>shahvishal@yahoo.co.in</td>
        <td>India</td>
        <td>
          <span class="red-color">Rejected</span>
        </td>
        <td>
          <a data-toggle="tooltip" title="Edit">
            <i class="fa fa-edit"></i>
          </a>
          <a data-toggle="tooltip" title="Delete">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>3</td>
        <td>Shah</td>
        <td>shahvishal@yahoo.co.in</td>
        <td>India</td>
        <td>
          <span class="dark-grey-color">Pending</span>
        </td>
        <td>
          <a data-toggle="tooltip" title="Edit">
            <i class="fa fa-edit"></i>
          </a>
          <a data-toggle="tooltip" title="Delete">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="code-section">
      <a (click)="onCopySingle(querySelector('table'))" class="copy">Copy</a>
      <div [innerHTML]="querySelector('table') | language : 'html' | markdown"></div>
    </div>
  </div>

  <div *ngIf="type == 'sorting'">
    <p>Sorting column</p>
    <br>

    <table class="table table--searchable table--sorting">
      <thead>
      <tr>
        <th width="10%">Id</th>
        <th width="20%">
          <a (click)="onSorting('username')" [ngClass]="{'sort' : sortKey == 'username'}">
            Username
            <i *ngIf="sortKey == 'username'"
               [ngClass]="{'fa-chevron-up' : isSort, 'fa-chevron-down' : !isSort }"
               class="fa sort-icon"></i>
          </a>
        </th>
        <th width="25%">
          <a (click)="onSorting('email')" [ngClass]="{'sort' : sortKey == 'email'}">
            Email
            <i *ngIf="sortKey == 'email'"
               [ngClass]="{'fa-chevron-up' : isSort, 'fa-chevron-down' : !isSort }"
               class="fa sort-icon"></i>
          </a>
        </th>
        <th width="15%">
          <a (click)="onSorting('country')" [ngClass]="{'sort' : sortKey == 'country'}">
            Country
            <i *ngIf="sortKey == 'country'"
               [ngClass]="{'fa-chevron-up' : isSort, 'fa-chevron-down' : !isSort }"
               class="fa sort-icon"></i>
          </a>
        </th>
        <th width="15%">Status</th>
        <th width="15%">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr class="table--searchable__row">
        <td></td>
        <td>
          <div class="basic-input basic-input-border basic-input-sm">
            <input placeholder="Search..." type="text"/>
          </div>
        </td>
        <td>
          <div class="basic-input basic-input-border basic-input-sm">
            <input placeholder="Search..." type="text"/>
          </div>
        </td>
        <td>
          <div class="basic-input basic-input-border basic-input-sm">
            <input placeholder="Search..." type="text"/>
          </div>
        </td>
        <td>
          <div class="basic-select basic-select-border basic-select-sm">
            <span class="basic-select__bg"></span>
            <select title="State">
              <option disabled selected>Select State</option>
              <option>Gujarat</option>
              <option>Hariyana</option>
            </select>
          </div>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>1</td>
        <td>Shah</td>
        <td>shahvishal@yahoo.co.in</td>
        <td>India</td>
        <td>
          <span class="green-color">Approved</span>
        </td>
        <td>
          <a data-toggle="tooltip" title="Edit">
            <i class="fa fa-edit"></i>
          </a>
          <a data-toggle="tooltip" title="Delete">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>Shah</td>
        <td>shahvishal@yahoo.co.in</td>
        <td>India</td>
        <td>
          <span class="red-color">Rejected</span>
        </td>
        <td>
          <a data-toggle="tooltip" title="Edit">
            <i class="fa fa-edit"></i>
          </a>
          <a data-toggle="tooltip" title="Delete">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>3</td>
        <td>Shah</td>
        <td>shahvishal@yahoo.co.in</td>
        <td>India</td>
        <td>
          <span class="dark-grey-color">Pending</span>
        </td>
        <td>
          <a data-toggle="tooltip" title="Edit">
            <i class="fa fa-edit"></i>
          </a>
          <a data-toggle="tooltip" title="Delete">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </tr>
      </tbody>
    </table>

    <h3 class="code-lang-type">HTML</h3>
    <div class="code-section">
      <a (click)="onCopyFile(files[0].codeText)" class="copy">Copy</a>
      <div markdown [src]="files[0].filePath"></div>
    </div>

    <h3 class="code-lang-type">Type script</h3>
    <div class="code-section">
      <a (click)="onCopyFile(files[1].codeText)" class="copy">Copy</a>
      <div markdown [src]="files[1].filePath"></div>
    </div>
  </div>

  <div *ngIf="type == 'expandable'">
    <p>Expandable grid</p>
    <br>

    <table class="table">
      <thead>
      <tr>
        <th width="5%"></th>
        <th width="5%">Id</th>
        <th width="20%">Username</th>
        <th width="25%">Email</th>
        <th width="15%">Country</th>
        <th width="15%">Status</th>
        <th width="15%">Action</th>
      </tr>
      </thead>
    </table>
    <table class="table table--hover table--expandable">
      <tbody *ngFor="let i of [1,2,3,4]; let i = index">
      <tr [ngClass]="{'table--expandable__open' : isExpandRow === i}" (click)="openRow(i);">
        <td width="5%">
          <i class="fa fa-chevron-down icon-open" [ngClass]="{'icon-close' : isExpandRow == i}"></i>
        </td>
        <td width="5%">
          <div>{{i}}</div>
        </td>
        <td width="20%">
          <div>Shah</div>
        </td>
        <td width="25%">
          <div>shahvishal@yahoo.co.in</div>
        </td>
        <td width="15%">
          <div>India</div>
        </td>
        <td width="15%">
          <span class="green-color">Approved</span>
        </td>
        <td width="15%">
          <a data-toggle="tooltip" title="Edit">
            <i class="fa fa-edit"></i>
          </a>
          <a data-toggle="tooltip" title="Delete">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </tr>
      <tr *ngIf="isExpandRow === i">
        <div>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
            Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
            Aldus PageMaker including versions of Lorem Ipsum.
          </p>
        </div>
      </tr>
      </tbody>
    </table>

    <h3 class="code-lang-type">HTML</h3>
    <div class="code-section">
      <a (click)="onCopyFile(files[2].codeText)" class="copy">Copy</a>
      <div markdown [src]="files[2].filePath"></div>
    </div>

    <h3 class="code-lang-type">Type script</h3>
    <div class="code-section">
      <a (click)="onCopyFile(files[3].codeText)" class="copy">Copy</a>
      <div markdown [src]="files[3].filePath"></div>
    </div>
  </div>

  <div *ngIf="type == 'horizontalScroll'">
    <p>Horizontal scroll Table</p>
    <br>

    <div class="table--horizontal-scroll">
      <table class="table">
        <thead>
          <tr>
          <th width="5%">Id</th>
          <th width="5%">First name</th>
          <th width="5%">Last name</th>
          <th width="5%">Username</th>
          <th width="40%">Address</th>
          <th width="10%">Email</th>
          <th width="10%">Country</th>
          <th width="10%">Status</th>
          <th width="10%">Action</th>
        </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>John</td>
            <td>Doe</td>
            <td>John doe</td>
            <td>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</td>
            <td>shahvishal@yahoo.co.in</td>
            <td>India</td>
            <td>
              <span class="green-color">Approved</span>
            </td>
            <td>
              <a data-toggle="tooltip" title="Edit">
                <i class="fa fa-edit"></i>
              </a>
              <a data-toggle="tooltip" title="Delete">
                <i class="fa fa-trash"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>John</td>
            <td>Doe</td>
            <td>John doe</td>
            <td>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</td>
            <td>shahvishal@yahoo.co.in</td>
            <td>India</td>
            <td>
              <span class="green-color">Approved</span>
            </td>
            <td>
              <a data-toggle="tooltip" title="Edit">
                <i class="fa fa-edit"></i>
              </a>
              <a data-toggle="tooltip" title="Delete">
                <i class="fa fa-trash"></i>
              </a>
            </td>
          </tr>
          <tr>
            <td>3</td>
            <td>John</td>
            <td>Doe</td>
            <td>John doe</td>
            <td>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</td>
            <td>shahvishal@yahoo.co.in</td>
            <td>India</td>
            <td>
              <span class="green-color">Approved</span>
            </td>
            <td>
              <a data-toggle="tooltip" title="Edit">
                <i class="fa fa-edit"></i>
              </a>
              <a data-toggle="tooltip" title="Delete">
                <i class="fa fa-trash"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="code-section">
      <a (click)="onCopySingle(querySelector('table--horizontal-scroll'))" class="copy">Copy</a>
      <div [innerHTML]="querySelector('table--horizontal-scroll') | language : 'html' | markdown"></div>
    </div>
  </div>
</div>

<div *ngIf="isCopied" class="copied-toast">
  <p>Code Copied!!!</p>
</div>
