<div class="right-section">
  <ul>
    <li><a (click)="onNavigationChange('basic')" [ngClass]="{'active' : type == 'basic'}">Basic header</a></li>
    <li><a (click)="onNavigationChange('icons')" [ngClass]="{'active' : type == 'icons'}">Icons with header</a></li>
    <li><a (click)="onNavigationChange('white')" [ngClass]="{'active' : type == 'white'}">White header</a></li>
  </ul>
</div>

<div class="left-section">
  <div *ngIf="type == 'basic'">
    <p>Basic header</p>
    <br>

    <div class="header">
      <div class="header__logo">
        <a>
          <img src="assets/images/logo.png" width="120" alt="">
        </a>
      </div>

      <div class="header__left">
        <ul>
          <li><a class="active">Link 1</a></li>
          <li><a>Link 2</a></li>
          <li><a>Link 3</a></li>
        </ul>
      </div>

      <div class="header__right">
        <ul>
          <li><a>Link 4</a></li>
          <li><a>Link 5</a></li>
          <li>
            <a (click)="isDropdown = !isDropdown">
              <img src="assets/images/profile.jpg"/>
              <i class="fa fa-chevron-down drop"></i>
            </a>
            <div [ngClass]="{'dropdown--open' : isDropdown}" class="dropdown">
              <ul>
                <li><a>Profile</a></li>
                <li><a>Logout</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <h3 class="code-lang-type">HTML</h3>
    <div class="code-section">
      <a (click)="onCopyFile(files[1].codeText)" class="copy">Copy</a>
      <div markdown [src]="files[1].filePath"></div>
    </div>

    <h3 class="code-lang-type">Type script</h3>
    <div class="code-section">
      <a (click)="onCopyFile(files[0].codeText)" class="copy">Copy</a>
      <div markdown [src]="files[0].filePath"></div>
    </div>
  </div>

  <div *ngIf="type == 'icons'">
    <p>Icons with header</p>
    <br>

    <div class="header">
      <div class="header__logo">
        <a>
          <img src="assets/images/logo.png" width="120" alt="">
        </a>
      </div>

      <div class="header__left">
        <ul>
          <li><a class="active">Link 1</a></li>
          <li><a>Link 2</a></li>
          <li><a>Link 3</a></li>
        </ul>
      </div>

      <div class="header__right">
        <ul>
          <li>
            <a class="header__right__badge">
              <i class="fa fa-bell"></i>
              <span>3</span>
            </a>
          </li>
          <li>
            <a class="header__right__badge">
              <i class="fa fa-envelope"></i>
              <span>3</span>
            </a>
          </li>
          <li>
            <a (click)="isDropdown = !isDropdown">
              <img src="assets/images/profile.jpg"/>
              <i class="fa fa-chevron-down drop"></i>
            </a>
            <div [ngClass]="{'dropdown--open' : isDropdown}" class="dropdown">
              <ul>
                <li><a>Profile</a></li>
                <li><a>Logout</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <h3 class="code-lang-type">HTML</h3>
    <div class="code-section">
      <a (click)="onCopyFile(files[2].codeText)" class="copy">Copy</a>
      <div markdown [src]="files[2].filePath"></div>
    </div>

    <h3 class="code-lang-type">Type script</h3>
    <div class="code-section">
      <a (click)="onCopyFile(files[0].codeText)" class="copy">Copy</a>
      <div markdown [src]="files[0].filePath"></div>
    </div>
  </div>

  <div *ngIf="type == 'white'">
    <p>White header</p>
    <br>

    <div class="header header--white">
      <div class="header__logo">
        <a>
          <img src="assets/images/logo_black.png" width="120" alt="">
        </a>
      </div>

      <div class="header__left">
        <ul>
          <li><a class="active">Link 1</a></li>
          <li><a>Link 2</a></li>
          <li><a>Link 3</a></li>
        </ul>
      </div>

      <div class="header__right header--white__right">
        <ul>
          <li>
            <a class="header__right__badge header--white__right__badge">
              <i class="fa fa-bell"></i>
              <span>3</span>
            </a>
          </li>
          <li>
            <a class="header__right__badge header--white__right__badge">
              <i class="fa fa-envelope"></i>
              <span>3</span>
            </a>
          </li>
          <li>
            <a (click)="isDropdown = !isDropdown">
              <img src="assets/images/profile.jpg"/>
              <i class="fa fa-chevron-down drop"></i>
            </a>
            <div [ngClass]="{'dropdown--open' : isDropdown}" class="dropdown">
              <ul>
                <li><a>Profile</a></li>
                <li><a>Logout</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <h3 class="code-lang-type">HTML</h3>
    <div class="code-section">
      <a (click)="onCopyFile(files[3].codeText)" class="copy">Copy</a>
      <div markdown [src]="files[3].filePath"></div>
    </div>

    <h3 class="code-lang-type">Type script</h3>
    <div class="code-section">
      <a (click)="onCopyFile(files[0].codeText)" class="copy">Copy</a>
      <div markdown [src]="files[0].filePath"></div>
    </div>
  </div>
</div>

<div (click)="isDropdown = false;" class="white-fixed-layer" *ngIf="isDropdown"></div>

<div *ngIf="isCopied" class="copied-toast">
  <p>Code Copied!!!</p>
</div>
