<div class="right-section">
  <ul>
    <li>
      <a (click)="onNavigationChange('basic')" [ngClass]="{'active' : type == 'basic'}">Basic with label</a>
    </li>
  </ul>
</div>

<div class="left-section">

  <div *ngIf="type == 'basic'">
    <p>Basic input with label</p>
    <br>
  </div>


  <div class="basic-input">
    <input type="file" hidden id="file" (change)="onFileGetName($event)">
    <input type="text" placeholder="Select file" readonly (click)="onFileSelect('file')" value="{{fileName}}"/>
    <label>Passport</label>
    <i class="fa fa-paperclip"></i>
  </div>

  <h3>HTML</h3>
  <div class="code-section">
    <a (click)="onCopySingle(htmlString)" class="copy">Copy</a>
    <pre>
      <code>
        {{htmlString}}
      </code>
      </pre>
  </div>

  <h3>Type script</h3>
  <div class="code-section">
    <a (click)="onCopySingle(typeScriptString)" class="copy">Copy</a>
    <pre>
      <code>
        {{typeScriptString}}
      </code>
      </pre>
  </div>
</div>

<div *ngIf="isCopied" class="copied-toast">
  <p>Code Copied!!!</p>
</div>
