<div class="footer">
  <div class="row">
    <div class="col-1-of-2">
      <p>&copy; Copyright 2018, All Rights Reserved.</p>
    </div>
    <div class="col-1-of-2 text-right">
      <ul>
        <li>
          <a routerLinkActive="active" [routerLink]="aboutUsUrl">About us</a>
        </li>
        <li>
          <a routerLinkActive="active" [routerLink]="contactUsUrl">Contact us</a>
        </li>
        <li>
          <a routerLinkActive="active" [routerLink]="termsUrl">Terms & Conditions</a>
        </li>
        <li>
          <a routerLinkActive="active" [routerLink]="policyUrl">Privacy Policy</a>
        </li>
      </ul>
    </div>
  </div>
</div>
