<div class="footer">
  <div class="row">
    <div class="col-1-of-3">
      <p>&copy; Copyright 2018, All Rights Reserved.</p>
    </div>
    <div class="col-1-of-3 text-center">
      <ul>
        <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
        <li><a href="#" target="_blank"><i class="fa fa-rss"></i></a></li>
        <li><a href="#" target="_blank"><i class="fa fa-tumblr"></i></a></li>
        <li><a href="#" target="_blank"><i class="fa fa-pinterest-p"></i></a></li>
      </ul>
    </div>
    <div class="col-1-of-3 text-right">
      <ul>
        <li>
          <a>Terms & Conditions</a>
        </li>
        <li>
          <a>Privacy Policy</a>
        </li>
      </ul>
    </div>
  </div>
</div>
