<div class="right-section">
  <ul>
    <li><a (click)="onNavigationChange('basic')" [ngClass]="{'active' : type == 'basic'}">Basic Footer</a></li>
    <li><a (click)="onNavigationChange('social')" [ngClass]="{'active' : type == 'social'}">Footer with social
      buttons</a></li>
    <li><a (click)="onNavigationChange('white')" [ngClass]="{'active' : type == 'white'}">White Footer</a></li>
  </ul>
</div>

<div class="left-section">
  <div *ngIf="type == 'basic'">
    <p>Basic footer</p>
    <br>
    <div class="footer">
      <div class="row">
        <div class="col-1-of-2">
          <p>&copy; Copyright 2018, All Rights Reserved.</p>
        </div>
        <div class="col-1-of-2 text-right">
          <ul>
            <li>
              <a>About us</a>
            </li>
            <li>
              <a>Contact us</a>
            </li>
            <li>
              <a>Terms & Conditions</a>
            </li>
            <li>
              <a>Privacy Policy</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <h3 class="code-lang-type">HTML</h3>
    <div class="code-section">
      <a (click)="onCopyFile(files[0].codeText)" class="copy">Copy</a>
      <div markdown [src]="files[0].filePath"></div>
    </div>

    <h3 class="code-lang-type">Type script</h3>
    <div class="code-section">
      <a (click)="onCopyFile(files[1].codeText)" class="copy">Copy</a>
      <div markdown [src]="files[1].filePath"></div>
    </div>
  </div>

  <div *ngIf="type == 'social'">
    <p>Footer with social links</p>
    <br>
    <div class="footer">
      <div class="row">
        <div class="col-1-of-3">
          <p>&copy; Copyright 2018, All Rights Reserved.</p>
        </div>
        <div class="col-1-of-3 text-center">
          <ul>
            <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#" target="_blank"><i class="fa fa-rss"></i></a></li>
            <li><a href="#" target="_blank"><i class="fa fa-tumblr"></i></a></li>
            <li><a href="#" target="_blank"><i class="fa fa-pinterest-p"></i></a></li>
          </ul>
        </div>
        <div class="col-1-of-3 text-right">
          <ul>
            <li>
              <a>Terms & Conditions</a>
            </li>
            <li>
              <a>Privacy Policy</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="code-section">
      <a (click)="onCopyFile(files[2].codeText)" class="copy">Copy</a>
      <div markdown [src]="files[2].filePath"></div>
    </div>
  </div>

  <div *ngIf="type == 'white'">
    <p>White footer</p>
    <br>

    <div class="footer footer--white">
      <div class="row">
        <div class="col-1-of-3">
          <p>&copy; Copyright 2018, All Rights Reserved.</p>
        </div>
        <div class="col-1-of-3 text-center">
          <ul>
            <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#" target="_blank"><i class="fa fa-rss"></i></a></li>
            <li><a href="#" target="_blank"><i class="fa fa-tumblr"></i></a></li>
            <li><a href="#" target="_blank"><i class="fa fa-pinterest-p"></i></a></li>
          </ul>
        </div>
        <div class="col-1-of-3 text-right">
          <ul>
            <li>
              <a>Terms & Conditions</a>
            </li>
            <li>
              <a>Privacy Policy</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="code-section">
      <a (click)="onCopyFile(files[3].codeText)" class="copy">Copy</a>
      <div markdown [src]="files[3].filePath"></div>
    </div>
  </div>
</div>

<div *ngIf="isCopied" class="copied-toast">
  <p>Code Copied!!!</p>
</div>
