<div class="right-section">
  <ul>
    <li><a (click)="onNavigationChange('basic')" [ngClass]="{'active' : type == 'basic'}">Basic modal</a></li>
    <li><a (click)="onNavigationChange('small')" [ngClass]="{'active' : type == 'small'}">Small modal</a></li>
    <li><a (click)="onNavigationChange('large')" [ngClass]="{'active' : type == 'large'}">Large modal</a></li>
  </ul>
</div>

<div class="left-section">
  <div *ngIf="type == 'basic'">
    <p>Basic Modal</p>
    <br>

    <button type="button" class="btn btn-primary" (click)="onShowBasicModal('basicModal')">Open Modal</button>
    <br>

    <div *ngIf="basicModal" id="basicModal" class="modal">

      <div class="modal__close">
        <a (click)="onCloseModal()">
          <i class="fa fa-close"></i>
        </a>
      </div>

      <div class="modal__header">
        <h3>Modal title</h3>
      </div>

      <div class="modal__body">
        <p>Lorem Ipsum</p>
      </div>

      <div class="modal__footer">
        <div class="text-right">
          <button (click)="onCloseModal()" type="button" class="btn btn-cancel">Cancel</button>
          <button Focus type="button" class="btn btn-primary">Save</button>
        </div>
      </div>

    </div>

    <h3 class="code-lang-type">HTML</h3>
    <div class="code-section">
      <a (click)="onCopyFile(files[0].codeText)" class="copy">Copy</a>
      <div markdown [src]="files[0].filePath"></div>
    </div>

    <h3 class="code-lang-type">Type script</h3>
    <div class="code-section">
      <a (click)="onCopyFile(files[1].codeText)" class="copy">Copy</a>
      <div markdown [src]="files[1].filePath"></div>
    </div>
  </div>

  <div *ngIf="type == 'small'">
    <p>Small Modal</p>
    <br>

    <button type="button" class="btn btn-primary" (click)="onShowBasicModal('smallModal')">Open Modal</button>
    <br>

    <div *ngIf="smallModal" id="smallModal" class="modal modal--small">

      <div class="modal__close">
        <a (click)="onCloseModal()">
          <i class="fa fa-close"></i>
        </a>
      </div>

      <div class="modal__header">
        <h3>Modal title</h3>
      </div>

      <div class="modal__body">
        <p>Lorem Ipsum</p>
      </div>

      <div class="modal__footer">
        <div class="text-right">
          <button (click)="onCloseModal()" type="button" class="btn btn-cancel">Cancel</button>
          <button Focus type="button" class="btn btn-primary">Save</button>
        </div>
      </div>

    </div>

    <h3 class="code-lang-type">HTML</h3>
    <div class="code-section">
      <a (click)="onCopyFile(files[2].codeText)" class="copy">Copy</a>
      <div markdown [src]="files[2].filePath"></div>
    </div>

    <h3 class="code-lang-type">Type script</h3>
    <div class="code-section">
      <a (click)="onCopyFile(files[3].codeText)" class="copy">Copy</a>
      <div markdown [src]="files[3].filePath"></div>
    </div>
  </div>

  <div *ngIf="type == 'large'">
    <p>Large Modal</p>
    <br>

    <button type="button" class="btn btn-primary" (click)="onShowBasicModal('largeModal')">Open Modal</button>
    <br>

    <div *ngIf="largeModal" id="largeModal" class="modal modal--large">

      <div class="modal__close">
        <a (click)="onCloseModal()">
          <i class="fa fa-close"></i>
        </a>
      </div>

      <div class="modal__header">
        <h3>Modal title</h3>
      </div>

      <div class="modal__body">
        <p>Lorem Ipsum</p>
      </div>

      <div class="modal__footer">
        <div class="text-right">
          <button (click)="onCloseModal()" type="button" class="btn btn-cancel">Cancel</button>
          <button Focus type="button" class="btn btn-primary">Save</button>
        </div>
      </div>

    </div>

    <h3 class="code-lang-type">HTML</h3>
    <div class="code-section">
      <a (click)="onCopyFile(files[4].codeText)" class="copy">Copy</a>
      <div markdown [src]="files[4].filePath"></div>
    </div>

    <h3 class="code-lang-type">Type script</h3>
    <div class="code-section">
      <a (click)="onCopyFile(files[5].codeText)" class="copy">Copy</a>
      <div markdown [src]="files[5].filePath"></div>
    </div>
  </div>
</div>

<div (click)="onCloseModal()" *ngIf="basicModal" class="modal-layer"></div>

<div *ngIf="isCopied" class="copied-toast">
  <p>Code Copied!!!</p>
</div>
