<div class="login-box">
  <div class="login-box__image">
    <img src="assets/images/logo_black.png" alt="">
  </div>

  <div class="login-box__body">
    <form [formGroup]="loginForm" (submit)="onLoginFormSubmit(loginForm.value,loginForm.valid)">
      <div class="basic-input">
        <input formControlName="email" Focus placeholder="example@gmail.com" type="text">
        <label class="required">Email</label>
        <div class="validation-group">
          <validation *ngIf="isRequiredField(loginForm.get('email'))"
                      [errMsg]="validationMsg.EMAIL_REQUIRED"></validation>
          <validation *ngIf="isValidField(loginForm.get('email'))"
                      [errMsg]="validationMsg.EMAIL_VALID"></validation>
          <validation *ngIf="isValidLength(loginForm.get('email'))"
                      [errMsg]="validationMsg.EMAIL_LENGTH"></validation>
        </div>
      </div>

      <div class="basic-input">
        <input formControlName="password" placeholder="*******" type="password">
        <label class="required">Password</label>
        <div class="validation-group">
          <validation *ngIf="isRequiredField(loginForm.get('password'))"
                      [errMsg]="validationMsg.PASSWORD_REQUIRED"></validation>
          <validation *ngIf="isValidField(loginForm.get('password'))"
                      [errMsg]="validationMsg.PASSWORD_VALID"></validation>
          <validation *ngIf="isValidLength(loginForm.get('password'))"
                      [errMsg]="validationMsg.PASSWORD_LENGTH"></validation>
        </div>
      </div>
    </form>
  </div>

  <div class="login-box__footer">
    <div>
      <button [disabled]="loginForm.invalid" type="submit" class="btn-primary btn">Login</button>
    </div>
    <div>
      <a>Forgot password?</a>
      <a>Sign Up</a>
    </div>
  </div>
</div>
