<div class="login-box">
  <div class="login-box__image">
    <img src="assets/images/logo_black.png" alt="">
  </div>

  <div class="login-box__body">
    <form>
      <div class="basic-input">
        <input Focus placeholder="Enter your email" type="text">
        <label class="required">Email</label>
      </div>

      <div class="basic-input">
        <input placeholder="Enter your email" type="password">
        <label class="required">Password</label>
      </div>
    </form>
  </div>

  <div class="login-box__footer">
    <div>
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
    <div>
      <a>Forgot password?</a>
      <a>Sign Up</a>
    </div>
  </div>
</div>
